html, body{height:100%;} 

body {
	margin : 0px;
	background : #E1E1E1 url(/images/layout/bg.jpg) no-repeat top center;
}

body, td {
	font-family : tahoma, arial, helvetica, sans-serif;
	font-size : 12px;
}

.content p, .content td, .content {
	color:#757474;
	font-size:13px;
	line-height:1.5em;	
}


.homeTeaser {
	width : 289px;
	height : 325px;
	background : #E2E2E2;
	float : left;
	color : #918F8F;
	line-height : 1.4em;
}

.homeTeaserPadding {
	padding : 10px;
}

.homeTeaserTitle {
	float : left;
	margin-right : 10px;
	margin-top : 3px;
}

.homeTeaserMore {
	display : block;
	margin-top : 5px;
}



p {
	margin:0px;
	margin-bottom:6px;
}

a {
	color : #34C6F4;
	outline:none;
}


img {
	border : none;
}

#dots {
	background : url(/images/layout/bg_dots2.png);
}

#shadow {
	width : 100%;
	background : url(/images/layout/side_shadows.png) repeat-y top center;
}

#siteWidth {
	width : 968px;
	text-align : left;
	background : #F1F1F1;
	position:relative;
}

#header {
	background : #000 url(/images/layout/header_bg.jpg) no-repeat top left;
	padding-top : 34px;
}

#nav {
	padding-top : 12px;
	text-align : right;
	margin-right : 35px;
}

#nav a {
	padding-left : 14px;
}

#headerOverview {
	color : #BDBDBD;
	font-size : 14px;
	float : right;
	line-height : 1.5em; 
}

#footer {
	background : #000;
	color : #918F8F;
	padding : 20px;
	font-size : 11px;
}

#footer h2 {
	padding-bottom : 5px;
	border-bottom : 1px solid #fff;
	margin : 0px;
	margin-bottom : 10px;
}

.footerBlogPost {
	padding-bottom : 10px;
	padding-left : 30px;
	background : url(/images/layout/icon_sproket.png) no-repeat top left;
}

#contactForm td, #contactFormBig td {
	padding-bottom : 5px;
}

#contactForm .borders, #contactFormBig .borders {
	border-top : 1px solid #8E8E8E;
	border-left : 1px solid #8E8E8E;
	border-bottom : 1px solid #E4E4E4;
	border-right : 1px solid #E4E4E4;
}

#contactFormBig .borders {
	background-color:#e2e2e2;
	width:300px;
}

.clear {
	clear : both;
}

.blue {
	color : #38C6F3;
}

h3 {
	color : #38C6F3;
	font-size : 17px;
	margin : 0px;
	margin-bottom : 5px;
	font-weight : normal;
}


.divF7, .divF1 {
	border-bottom:1px solid #d7d6d6;
}

.divF7 {
	background-color: #F7F7F7;
}

.divF1 {
	background-color: #F1F1F1;
}

.subPadding {
	padding:25px;
}

.subNavContainer {
	position:relative;
	float:right; 
	margin-bottom:25px;
	top:-5px;
	background-image:url(/images/layout/nav/sub_carrot.png);
	background-repeat:no-repeat;
}

.subNav {
	background-color:#606060;
	margin-top:7px;
	padding: 4px 4px 4px 8px;
}

.subNavContainer.culture_subnav {
/*  width: 149px;*/
  right: 80px;
}


h2 {
	color:#6a6969;
	font-size: 18px;
	line-height:24px;
	font-weight:normal;
	margin:0px;
	padding:0px;
	margin-bottom:5px;
	
}

h2.slideTitle, h2.officeTitle {
	cursor:pointer;
}

h2.slideTitle:hover, h2.officeTitle:hover, #charlotteTitle {
	color:#328bab;
}


h4 {
	color : #6a6969;
	font-size : 14px;
	margin : 0px;
	margin-bottom : 5px;
	font-weight : normal;
}


.photoContainer {
	background-image:url(/images/layout/photo_carrot.png);
	background-repeat:no-repeat;
	background-position: 0px 130px;
}

.photoInner {
	padding: 10px; 
	margin-left:12px; 
	background-color:#cfcece;
}

.padding {
	padding: 10px;
}

.caption {
	border:1px solid white; 
	margin-top:8px; 
	color:white; 
}


.divSlide {
	padding:5px 0px; 
	border-bottom:2px dotted #cfcece; 
}

.firstSlide {
	border-top:2px dotted #cfcece;
}

.slideContent {
	 display:none;
}

.slideContent h2 {
	color: #328bab;
}

.slideGroup {
	margin-top:25px;
}

#followMe {
	position: absolute; 
	float:right; 
	right:-35px; 
	z-index:1; 
	width:35px; 
	Xheight:145px;
}

#followMe img.padded {
	display : block;
	margin-bottom : 5px;
}


.subContent {
	background-color: #FFFFFF; 
	border:2px solid #d7d6d6; 
	padding:20px;
	margin-bottom:10px;
}

.contentCarrot {
	position:relative; 
	right:-60px; 
	top:2px; 
	margin-top:-5px;
}

.contentColumn {
	width:270px; 
	float:left; 
	margin-left:25px;

}

.firstColumn {
	margin:0px;
}

#execPicts, #staffPicts {
	background-color:#FFF; 
	margin:0px 0px 15px 0px; 
	padding:5px;
}

#execPicts {
  width: 750px;
  margin: 0 auto 15px;
}

#execPicts .row1 {
  margin: 0 auto;
  width: 385px;
}

#execPicts .row2 {
  margin: 0 auto;
  width: 697px;
  text-align: center;
}


#execPicts img{
	padding:20px 25px 0px 0px;
}


#staffPicts img{
	padding:20px 12px 0px 10px;
}

.separator {
	padding:10px 0px;
	margin-bottom:10px;
	border-bottom:2px dotted #cfcece;
}

.slide1 img {
	padding:20px 35px 0px 10px;
}

.slide2 img {
	padding:20px 40px 0px 10px;
}

.slide3 img {
	padding:20px 35px 0px 10px;
}

#myController {
		display: none;
}

.leftarrow img:hover, .rightarrow img:hover {
	cursor:pointer;
}

.leftarrow, .rightarrow {
	position: absolute;
	width: 28px;
	top:80px;
	z-index:1;
}

.leftarrow {
	left: -24px;
	
}

.rightarrow {
	right: -5px;
}


.peopleTitleDiv {
	position:relative; 
	width:139px; 
	z-index:3;
}

.peopleTitle {
		position:absolute; 
		top:0px; 
		left: 68px;
		z-index:4;
}

/* Overlay */
#simplemodal-overlay {
	background-color:#000; 
	cursor:wait;
}

/* Container */
#simplemodal-container {
	width:660px;
	height:370px;
	background: #000;
	padding-top: 10px;
	
}
#simplemodal-container a.modalCloseImg {
	background:url(/images/layout/x.png) no-repeat; 
	width:25px; 
	height:29px; 
	display:inline; 
	z-index:3200; 
	position:absolute; 
	top:-15px; 
	right:-18px; 
	cursor:pointer;
}

blockquote {
  font-style: italic;
  background-image: url(/images/layout/quote.png) no-repeat top left;
  width: 200px;
  height: 200px;
}

.navlink {
	font-family:Oswald; 
	text-decoration: none;
	color: #f1f1f1;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}

.navlink:hover {
	color: #38c6f3;
}

.subHeading {
	font-family:Oswald; 
	font-size: 21px; 
	color: #2d8fae; 
	transform: scaleY(1.1);
	text-transform: uppercase;
}
.partnergrid {
	background-color: #ffffff;
}
.partner {
	display: inline-block;
	margin-left: 75px;
	margin-right: 75px;
}

.headgrid {
	margin-right: auto;
	margin-left: auto;
}

.headshot {
	width: 180px;
	-webkit-filter: grayscale(0%);
	-webkit-filter: brightness(100%);
	position:relative;
            -webkit-transition: all .2s ease-in;
	    -moz-transition: all .2s ease-in;
	    -o-transition: all .2s ease-in;
	    -ms-transition: all .2s ease-in;
	    transition: all .2s ease-in;
}

.headshottext {
	position: absolute;
	left: 0;
	padding-top: 70px;
	color: white;
	font-family:Oswald; 
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	z-index: 1;
	top: 0;
	bottom: 0;
	display: block;
	opacity: 0;
	   -webkit-transition: all .2s ease-in;
	    -moz-transition: all .2s ease-in;
	    -o-transition: all .2s ease-in;
	    -ms-transition: all .2s ease-in;
	    transition: all .2s ease-in;
}
 
.person:hover .headshot {
  -webkit-filter: grayscale(90%);
  -webkit-filter: brightness(40%);
}

.person:hover .headshottext {
  opacity: 1;
}

.person {
	position: relative;
	width: 180px;
	display: inline-block;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 600px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




