@keyframes fadeIn
  0%
    opacity: 0
    visibility: hidden
  100%
    opacity: 1
    visibility: visible

@keyframes fadeOut
  100%
    opacity: 0
    visibility: hidden
  0%
    opacity: 1
    visibility: visible

@keyframes slideUp
  0%
    top: 20px
  100%
    top: 0

@keyframes expand
  0%
    width: 30%
    height: 230px
  100%
    width: 100%
    height: auto
    left: 0
    top: 0

@keyframes collapse
  100%
    width: 30%
    height: 230px
  0%
    width: 100%
    height: 100%
    left: 0
    top: 0

#theGrid
  margin-bottom: 80px
  position: relative
  .grid-details-container
    opacity: 0
    visibility: hidden
    position: absolute
    top: 0
    width: 100%
    height: 100%
    &.active
      opacity: 1
      visibility: visible
    &.inactive
      animation: fadeOut .5s
    .content__item
      position: absolute
      overflow: hidden
      border: 1px solid $accent-grey-dark
      color: $tks-grey-dark
      padding: 15px 15px 0
      width: 30%
      visibility: hidden
      background: white
      transition: all .5s
      &:nth-child(2)
        &.active
          .capabilities-icon
            animation: fadeIn 2s
      &:nth-child(2), &:nth-child(5)
        left: 30%
        top: 0
      &:nth-child(3), &:nth-child(6)
        left: 60%
      &:nth-child(n+4)
        top: 250px
      &.inactive
        animation: fadeOut .2s forwards, collapse .3s forwards
      &.active
        animation: fadeIn .2s forwards, expand .3s forwards
        .title--subhead, .cap-details, .tag
          visibility: hidden
          opacity: 0
          position: relative
          animation: fadeIn .5s .3s forwards, slideUp .5s .3s forwards
  .icon-box
    margin-bottom: 25px
  .icon-container
    img:nth-child(2)
      display: none

  .capabilities-icon
    max-width: 150px

  .cap-details
    margin-top: 20px
    .cap-action-items
      border-left: 2px solid $accent-grey-dark
      padding: 0 25px 25px
      .highlighted-content-box
        margin-bottom: 20px
      .cap-action-items__heading
        text-transform: uppercase
        font-family: $Montserrat
    .cap-summary, .cap-action-items
      padding: 20px 20px 20px 40px
    .cap-summary, .cap-action-items
      background: $accent-grey-dark

  .grid__item
    border: 2px solid $accent-grey
    display: block
    height: 100%
    padding: 10px
    .loader
      width: 50%
      height: 3px
      background: $accent-grey
      margin: 10px auto 15px
      .loader-fill
        display: block
        height: 100%
        width: 0
        margin: 0 auto
        background: $tks-red
        transition: width .25s
    &:hover
      text-decoration: none
      cursor: pointer
      border: 2px solid $accent-red
      .loader-fill
        width: 100%
      .icon-container
        img:first-child
          display: none
        img:nth-child(2)
          display: block
          margin-left: auto
          margin-right: auto

  .title
    font-family: $Lora
    text-align: center
  .title.title--preview
    color: $tks-blue
  .title--full
    font-size: 26px
    color: $tks-blue
    margin-top: 15px

  section.grid
    margin-bottom: 100px
    flex-wrap: wrap

  .scroll-wrap
    position: initial
    background: none

  .cap-tags
    margin-left: 20px
    .tag
      +border-radius(8px)
      font-size: 12px
      background: $accent-grey
      padding: 2px 5px 0
      margin: 5px
      display: inline-block

  .close-button
    background: none
    border: none
    width: 35px
    height: 35px
    position: absolute
    top: 15px
    right: 15px
    svg
      width: 30px
      height: 30px
      &:hover
        line
          stroke: black
