footer
  background-image: url("/assets/images/unsplash/stars.jpeg")
  background-size: cover
  background-position: 0% 90%
  a
    color: $sec-lightgrey
  ul
    list-style-type: none
    padding-left: 0
