.block, .block-dark
  padding-top: 70px
  padding-bottom: 70px

.block-dark
  background-color: $block-dark

.block-blue
  background-color: $pri-blue

.block-sm
  padding-top: 35px
  padding-bottom: 35px
