nav
  .collapse
    .container-fluid
      .logo
        width: 120px
        margin-right: 20px
  .nav
    .nav-item
      .nav-link
  .pull-xs-right
    .nav-btn
      margin-left: 5px
      margin-right: 5px
    .nav-link
      color: $sec-grey
      border-bottom: 2px solid $pri-yellow
      margin-left: 5px
  .dropdown-item
    font-family: $yantra
    color: $sec-grey
    line-height: 28px
