.grey
  background-color: $accent-grey
  padding-top: 40px

.content-section
  padding-top: 40px
  padding-bottom: 40px

.partner-tile
  margin-bottom: 70px

.leadership-tile
  margin-bottom: 60px

.position-title-box
  border-bottom: 2px solid $accent-grey
  padding-bottom: 10px

.position
  display: flex
  margin-bottom: 60px

.copy-spacing
  margin-bottom: 40px

.capabilities-row
  margin-top: 40px

.placeholder
  width: 200px
