/ Footer
%footer.block
  .container
    .row
      .col-lg-2.col-sm-3.col-xs-6.text-xs-center.text-sm-left
        .copy-bold.light.m-b-1 Product
        %ul
          %li
            %a.footerlink{:href => "product.html"} Signals Overview
          %li
            %a.footerlink{:href => "deeper-dive.html"} Deeper Dive
          %li
            %a.footerlink{:href => "https://beta.tasteanalytics.com/login.html#sign-in"} Log In
          %li
            %a.footerlink{:href => "try-signals.html"} Try Signals

      .col-lg-2.col-sm-3.col-xs-6.text-xs-center.text-sm-left
        .copy-bold.light.m-b-1 Solutions
        %ul
          %li
            %a.footerlink{:href => "solutions.html"} Overview

      %br.hidden-xs-up
      .col-lg-2.col-sm-3.col-xs-6.text-xs-center.text-sm-left
        .copy-bold.light.m-b-1 About Us
        %ul
          %li
            %a.footerlink{:href => "index.html"} Home
          %li
            %a.footerlink{:href => "about-us.html"} About Us
          %li
            %a.footerlink{:href => "blog.html"} Blog

      .col-lg-2.col-sm-3.col-xs-6.text-xs-center.text-sm-left
        .copy-bold.light.m-b-1 Support
        %ul
          %li
            %a.footerlink{:href => "contact-us.html"} Contact Us
          %li
            %a.footerlink{:href => "join-us.html"} Job Openings

      .col-md-4.copy-bold.light.hidden-md-down
        %a.twitter-timeline{"data-height" => "300", "data-width" => "600", "data-link-color" => "#00a1ae", "data-theme" => "dark", "data-chrome" => "transparent nofooter noborders noscrollbar", :href => "https://twitter.com/StratifydTweets"} Tweets by StratifydTweets
        %script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}




    .row.m-t-3
      .col-md-6.col-sm-6.col-xs-12.m-t-2.text-xs-center.text-sm-left
        .copyright Copyright ©	2015 — 2016 Stratifyd, Inc.
      .col-md-6.text-xs-center.col-xs-12.col-sm-6.m-t-2.text-sm-right
        %a{ target: "_blank", href: "https://www.facebook.com/stratifyd/"}
          %i.fa.fa-facebook-official{"aria-hidden" => "true"}
        %a{ target: "_blank", href: "https://twitter.com/StratifydTweets"}
          %i.fa.fa-twitter{"aria-hidden" => "true"}
        %a{ target: "_blank", href: "https://www.linkedin.com/company/stratifyd"}
          %i.fa.fa-linkedin-square{"aria-hidden" => "true"}
        %a{ target: "_blank", href: "https://www.youtube.com/channel/UCAkngNoMwJDNjEPzX3lIBsw"}
          %i.fa.fa-youtube-play{"aria-hidden" => "true"}
