/ Footer
%footer.block
  .container-fluid
    .row
      .col-md-2.col-md-offset-1
        .yantra-bold.light.m-b-1 Product
        %ul
          %li
            %a{:href => "#"} Signals Overview
          %li
            %a{:href => "#"} Deeper Dive

      .col-md-2
        .yantra-bold.light.m-b-1 Solutions
        .row
          .col-md-6
            %ul
              %li
                %a{:href => "#"} Solutions Overview

      .col-md-2
        .yantra-bold.light.m-b-1 About
        %ul
          %li
            %a{:href => "/"} Home
          %li
            %a{:href => "/"} About Us
          %li
            %a{:href => "/"} Blog

      .col-md-2
        .yantra-bold.light.m-b-1 Support
        %ul
          %li
            %a{:href => "#!"} Take the Signals Challenge
          %li
            %a{:href => "#!"} 14-Day Free Trial
          %li
            %a{:href => "#!"} Watch Our Demo on Youtube
          %br
          %li
            %a{:href => "#!"} Contact Us
          %li
            %a{:href => "/"} Job Openings
          %li
            %a{:href => "/"} Log In

      .yantra-bold.light.col-md-2
        .m-b-1 Recent LinkedIn Posts
