/ Footer
%footer.block
  .container
    .row
      .col-md-2
        .copy-bold.light.m-b-1 Product
        %ul
          %li
            %a.footerlink{:href => "/product.html"} Signals Overview
          %li
            %a.footerlink{:href => "/deeper-dive.html"} Deeper Dive
          %br
          %li
            %a.footerlink{:href => "#"} Try Signals
          %br
          %li
            %a.footerlink{:href => "#"} Log In

      .col-md-2
        .copy-bold.light.m-b-1 Solutions
        .row
          .col-md-6
            %ul
              %li
                %a.footerlink{:href => "/solutions.html"} Solutions Overview

      .col-md-2
        .copy-bold.light.m-b-1 About Us
        %ul
          %li
            %a.footerlink{:href => "/"} Home
          %li
            %a.footerlink{:href => "/about-us.html"} About Us
          %li
            %a.footerlink{:href => "/contact-us.html"} Contact Us
          %li
            %a.footerlink{:href => "/"} Job Openings
          %li
            %a.footerlink{:href => "/blog.html"} Blog

      .copy-bold.light.col-md-4
        %a.twitter-timeline{"data-widget-id" => "600720083413962752", href: "https://twitter.com/StratifydTweets", "data-tweet-limit" => "3", }
          Tweets by @StratifydTweets

    .row.m-t-3
      .col-md-6.col-sm-6.col-xs-12.m-t-2.text-xs-center.text-sm-left
        .copyright Copyright ©	2015 — 2016 Stratifyd, Inc.
      .col-md-6.text-xs-center.col-xs-12.col-sm-6.m-t-2.text-sm-right
        %a{ target: "_blank", href: "https://www.facebook.com/stratifyd/"}
          %i.fa.fa-facebook-official{"aria-hidden" => "true"}
        %a{ target: "_blank", href: "https://twitter.com/StratifydTweets"}
          %i.fa.fa-twitter{"aria-hidden" => "true"}
        %a{ target: "_blank", href: "https://www.linkedin.com/company/taste-analytics"}
          %i.fa.fa-linkedin-square{"aria-hidden" => "true"}
        %a{ target: "_blank", href: "https://www.youtube.com/channel/UCAkngNoMwJDNjEPzX3lIBsw"}
          %i.fa.fa-youtube-play{"aria-hidden" => "true"}
