/ Footer
%footer.block
  .container-fluid
    .row
      .col-md-2.col-md-offset-1
        %h5.title Product
        %ul
          %li
            %a{:href => "#"} Signals Overview
          %li
            %a{:href => "#"} How It Works
          %li
            %a{:href => "#"} Easy to Use
          %li
            %a{:href => "#"} Intuitive Visualization
          %li
            %a{:href => "#"} High-powered Analytics
          %li
            %a{:href => "#"} Comprehensive Data
      %hr.hidden-md-up/
      .col-md-5
        %h5.title Solutions
        .row
          .col-md-6
            %ul
              %li
                %a{:href => "#"} Business Analyst
              %li
                %a{:href => "#"} Executive
              %li
                %a{:href => "#"} Operations Manager
              %li
                %a{:href => "#"} Product Manager
              %li
                %a{:href => "#"} Voice of the Customer
              %li
                %a{:href => "#"} Customer Experience Management
              %li
                %a{:href => "#"} Operations
              %li
                %a{:href => "#"} Call/Chat Center
              %li
                %a{:href => "#"} Product Managment
              %li
                %a{:href => "#"} Marketing & Sales
          .col-md-6
            %ul
              %li
                %a{:href => "#"} Product Ratings & Reviews
              %li
                %a{:href => "#"} CRM Data
              %li
                %a{:href => "#"} Survey Responses
              %li
                %a{:href => "#"} Chat/Voice Transcripts
              %li
                %a{:href => "#"} Help Desk Tickets
              %li
                %a{:href => "#"} Social Media
              %li
                %a{:href => "#"} Email
              %li
                %a{:href => "#"} Web Traffic
      %hr.hidden-md-up/
      .col-md-2
        %h5.title About
        %ul
          %li
            %a{:href => "/"} Home
          %li
            %a{:href => "/"} About Us
          %li
            %a{:href => "/"} Blog

          %li
            %a{:href => "/"} Try Signals
          %li
            %a{:href => "/"} Contact Us
          %li
            %a{:href => "/"} Login
      .col-md-2
        %h5.title Recent Tweets
        %ul
          %li
            %a{:href => "#!"} Link 1
          %li
            %a{:href => "#!"} Link 2
          %li
            %a{:href => "#!"} Link 3
          %li
            %a{:href => "#!"} Link 4
