.footer
  .container
    .row
      .col-md-4.footer-align
        %i.fa.fa-instagram.social-icons{"aria-hidden" => "true"}
        %i.fa.fa-facebook-official.social-icons{"aria-hidden" => "true"}
        %i.fa.fa-twitter.social-icons{"aria-hidden" => "true"}
        %i.fa.fa-linkedin-square.social-icons{"aria-hidden" => "true"}
      .col-md-4.vcenter
        = image_tag "footer-cog-tagline.jpg", class: "center-block"
      .col-md-4.footer-align
        .pull-xs-right
          .legal 	&copy; 2016 Technekes, llc
