.container
  .getintouch-bar.navbar
    .row
    .contact-expander-text Get in Touch
    .pull-sm-right
      %button.btn.btn-block.btn-secondary.js-get-in-touch{"data-target" => "#getintouch-expand", "data-toggle" => "collapse", :type => "button", value: "Expand"}
        expand
        %i.fa.fa-arrow-up.js-arrow.iconChange{"aria-hidden" => "true"}
  #getintouch-expand.collapse
    .container.getintouch-form
      .row
        .col-md-3
          .subhead-header Contact form
        .col-md-5.col-md-offset-1.col-xs-12
          <div class="cognito">
          <script src="https://services.cognitoforms.com/s/_HHaWG0LykS46drk3MmyTQ"></script>
          <script>Cognito.load("forms", { id: "2"  });</script>
          </div>
