.container
  %nav.navbar.navbar-light.bg-faded
    %a{"data-target" => ".bd-example-modal-lg", "data-toggle" => "modal"}
      %h4 Get in Touch


.modal.fade.bd-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        .container
          %p.pull-left Get In Touch
          %button.close.navbar-toggler.btn{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
      .row
        %br
        .col-md-10.col-md-offset-1
          .col-md-6
            .row
              .col-md-6
                = image_tag 'placeholderbox.png', class: 'mapplaceholder'
              .col-md-6
                %h6 US HQ
                %p
                  1431 West Moorehead st.
                  Charlotte, NC 28202
                  555 5555
                  555 5555
            %br
            .row
              .col-md-6
                = image_tag 'placeholderbox.png', class: 'mapplaceholder'
              .col-md-6
                %h6 Technekes Canada
                %p
                  1431 West Moorehead st.
                  Charlotte, NC 28202
                  555 5555
                  555 5555
          .col-md-6
            .container
              %form
                %fieldset.form-group
                  %label{:for => "exampleInputEmail1"} Name
                  %input#exampleInputEmail1.form-control{:placeholder => "Name", :type => "email"}
                %fieldset.form-group
                  %label{:for => "exampleInputPassword1"} Email
                  %input#exampleInputPassword1.form-control{:placeholder => "Email", :type => "password"}
                %fieldset.form-group
                  %label{:for => "exampleInputPassword1"} Phone
                  %input#exampleInputPassword1.form-control{:placeholder => "Phone", :type => "password"}
                %fieldset.form-group
                  %label{:for => "exampleInputPassword1"} Comments
                  %input#exampleInputPassword1.form-control{:placeholder => "Comments", :type => "password"}

                %button.btn.btn-block.btn-primary{:type => "submit"} Send
