.container
  .getintouch-bar.navbar
    .row
    .contact-expander-text Get in Touch.
    .pull-xs-right
      %button.btn.btn-block.btn-seconday{"data-target" => "#getintouch-expand", "data-toggle" => "collapse", :type => "button"}
        expand
        %i.fa.fa-arrow-up{"aria-hidden" => "true"}
  #getintouch-expand.collapse
    .container.getintouch-form
      .row
        .col-md-3
          .subhead-header Contact form
        .col-md-5.col-md-offset-1
          %form
            %fieldset.form-group
              %label Name
              %input.form-control{:placeholder => "Name", :type => "email"}
            %fieldset.form-group
              %label Email
              %input.form-control{:placeholder => "Email", :type => "password"}
            %fieldset.form-group
              %label Comments
              %textarea.form-control{:placeholder => "Lorem ispum dolor sit amet.", :type => "textarea", rows: "3"}
        .col-md-3
          %button#getintouch-btn.btn.btn-sm.btn-seconday{:type => "submit"}
            Send
            %i.fa.fa-arrow-right{"aria-hidden" => "true"}
