%nav.navbar.navbar-light.bg-faded
  %button.navbar-toggler.hidden-md-up{"aria-controls" => "exCollapsingNavbar2", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#exCollapsingNavbar2", "data-toggle" => "collapse", :type => "button"} ☰
  #exCollapsingNavbar2.collapse.navbar-toggleable-sm
    .container-fluid
      %a.navbar-brand{:href => "/"}
        =image_tag "assets/images/Stratifyd-Logo-Final.svg", class: "logo"
      %ul.nav.navbar-nav
        %li.nav-item.active
          .dropdown
            %a#dropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
              Products
            .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
              %a.dropdown-item{:href => "#"} Signals Overview
              %a.dropdown-item{:href => "#"} Deeper Dive

        %li.nav-item
          .dropdown
            %a#dropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
              Solutions
            .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
              %a.dropdown-item{:href => "#"} Solutions Overview

        %li.nav-item
          %a.nav-link{ href: "/about-us.html" } About Us
        %li.nav-item
          %a.nav-link{ href: "#" } Blog
          
      .pull-xs-right
        %button.btn.btn-primary-dark.nav-btn Try Signals
        %button.btn.btn-primary-dark.nav-btn Contact Us
        %a.nav-link{ href: "#" } Log in
