.container
  %ul.timeline
    %li
      .timeline-start
    %li
      .timeline-badge
      .timeline-panel
        .timeline-heading
          %h4.timeline-title 2000
        .timeline-body
          %p.body-copy Founded as database marketing company
    %li.timeline-inverted
      .timeline-badge
        %i.glyphicon.glyphicon-credit-card
      .timeline-panel
        .timeline-heading
          %h4.timeline-title 2002
        .timeline-body
          %p.body-copy Launches Demand Center for life sciences industry
    %li
      .timeline-badge
      .timeline-panel
        .timeline-heading
          %h4.timeline-title 2005
        .timeline-body
          %p.body-copy Opens call center to support Demand Center
    %li.timeline-inverted
      .timeline-badge
      .timeline-panel
        .timeline-heading
          %h4.timeline-title 2006
        .timeline-body
          %p.body-copy Establishes healthcare practice group
    %li
      .timeline-badge
      .timeline-panel
        .timeline-heading
          %h4.timeline-title 2012
        .timeline-body
          %p.body-copy Expands operations into Canada
    %li.timeline-inverted
      .timeline-badge
      .timeline-panel
        .timeline-heading
          %h4.timeline-title 2013
        .timeline-body
          %p.body-copy Launches R&D unit and commercializes technology assets
    %li
      .timeline-badge
      .timeline-panel
        .timeline-heading
          %h4.timeline-title 2014
        .timeline-body
          %p.body-copy Develops first commercial data platform, PaaSport
    %li.timeline-inverted
      .timeline-badge
      .timeline-panel
        .timeline-heading
          %h4.timeline-title 2015
        .timeline-body
          %p.body-copy
            Takes equity stake in
            %a.link{ href: "http://sureshot.io/", target: "_blank" }
              SureShot
            and
            %a.link{ href: "http://xceleration.com/", target: "_blank" }
              Xceleration
    %li.timeline
      .timeline-badge
      .timeline-panel
        .timeline-heading
          %h4.timeline-title 2016
        .timeline-body
          %p.body-copy
            Technekes becomes an Oracle Marketing Cloud partner link
