// primary colors
$pri-black: #383838
$pri-blue: #00a1ae
$pri-yellow: #f4cb1b

// secondary colors
$sec-green: #77bc1f
$sec-grey: #383839
$sec-lightgrey: #b0b1b3
$sec-white: #f5f5f5
$sec-yellow: #c99d1b

// 3rd color
$third-orange: rgb(255,166,98)
$third-purple: rgb(64,69,111)
$third-blue: rgb(160,210,207)
$third-dark: #383839
$third-green: #c4e76a

// utility colors
$util-white: #ffffff
$util-black: #000000

// transparency variables
$util-clear: rgba(0, 0, 0, 0.0)

$lighten-grey: rgba($sec-grey,0.3)

$light-trans: rgba($util-white,0.7)

$light-grey: rgba(255,255,255,1)
