// primary colors
$pri-black: #383839
$pri-blue: #00a0ae
$pri-yellow: #f4cb1b

// secondary colors
$sec-green: #77bc1f
$sec-grey: #6a6a6a
$sec-lightgrey: #b0b1b3
$sec-white: #f5f5f5

// utility colors
$util-white: #ffffff
$util-black: #000000
