// import google fonts
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Montserrat')

// Font variables
$Lora: 'Lora', serif
$Montserrat: 'Montserrat', serif

// breakpoints
$break-xs: 476px
$break-sm: 638px
$break-med: 773px
$break-lg: 991px
$break-xl: 992px
$break-home-sm: 421px

.header-headline
  font-family: $Lora
  color: $white
  font-size: 80px
  @media screen and (max-width: $break-sm)
    font-size: 40px
    line-height: 50px
    margin-bottom: 10px
    margin-top: 10px

.header-body-copy
  font-family: $Lora
  color: $white
  font-size: 18px
  padding-right: 40px
  @media screen and (max-width: $break-sm)
    font-size: 14px
    padding-right: 0

.header-info
  font-family: $Lora
  font-size: 24px
  color: $white
  margin-bottom: 40px
  margin-top: 40px
  @media screen and (max-width: $break-sm)
    font-size: 18px

.subhead-header
  font-family: $Montserrat
  opacity: 0.5
  font-size: 18px
  color: $white
  text-transform: uppercase
  @media screen and (max-width: $break-sm)
    font-size: 16px

.subhead-header-box
  border-bottom: 2px solid #ff3301
  width: 200px
  margin-left: auto
  margin-right: auto

.subhead-nav-box
  border-top: 2px solid $tks-blue
  width: 200px
  padding-top: 10px

.subhead-box
  border-bottom: 2px solid #ff3301
  width: 200px
  margin-left: auto
  margin-right: auto
  margin-bottom: 20px

.subhead
  font-family: $Montserrat
  font-size: 18px
  text-transform: uppercase
  opacity: 0.5
  @media screen and (max-width: $break-sm)
    font-size: 16px

.subhead-centered
  font-family: $Montserrat
  opacity: 0.5
  font-size: 18px
  text-transform: uppercase
  text-align: center
  @media screen and (max-width: $break-sm)
    font-size: 16px

.subhead-saturated
  font-family: $Montserrat
  opacity: 0.9
  font-size: 18px
  text-transform: uppercase
  @media screen and (max-width: $break-sm)
    font-size: 16px

.subhead-white
  font-family: $Montserrat
  color: $white
  font-size: 18px
  text-transform: uppercase
  margin-top: 20px
  @media screen and (max-width: $break-sm)
    font-size: 16px

.red-subhead
  font-family: $Montserrat
  color: $white
  font-size: 18px
  text-transform: uppercase
  margin-top: 20px
  background-color: $tks-red
  margin-bottom: 20px
  padding: 10px 10px 5px 10px
  @media screen and (max-width: $break-sm)
    font-size: 16px

.highlighted-content
  font-size: 26px
  opacity: 1.0
  font-family: $Lora
  margin-bottom: 20px
  font-weight: bold
  @media screen and (max-width: $break-sm)
    font-size: 18px

.small-highlighted-content
  font-size: 24px
  opacity: 1.0
  font-family: $Lora
  margin-bottom: 20px
  margin-top: 40px
  font-weight: bold
  font-style: italic
  @media screen and (max-width: $break-sm)
    font-size: 18px

.highlighted-content-saturated
  font-size: 30px
  color: $white
  font-family: $Lora
  margin-bottom: 20px
  @media screen and (max-width: $break-sm)
    font-size: 18px

.highlighted-content-centered
  font-size: 25px
  opacity: 1.0
  font-family: $Lora
  text-align: center
  font-weight: bold
  @media screen and (max-width: $break-sm)
    font-size: 22px

.highlighted-content-box
  position: relative
  margin-bottom: 40px
  ::after
    content: ""
    display: block
    width: 80px
    padding-bottom: 5px
    border-bottom: 2px solid #ff3301

.resource-name
  font-family: $Lora
  font-size: 25px
  opacity: 0.9
  text-align: center
  margin-bottom: 20px
  margin-top: 40px
  @media screen and (max-width: $break-sm)
    font-size: 20px

.nav-headline
  font-family: $Lora
  font-size: 38px
  color: $white
  text-transform: capitalize
  a
    color: $white
    text-decoration: none
  a:hover
    text-decoration: none
    color: $white
  @media screen and (max-width: $break-sm)
    font-size: 30px

.body-copy
  font-family: $Lora
  font-size: 17px
  color: rgba(0, 0, 0, 0.7)
  @media screen and (max-width: $break-sm)
    font-size: 14px

.body-copy-small-italic
  font-family: $Lora
  font-size: 16px
  color: rgba(0, 0, 0, 0.5)
  font-style: italic
  @media screen and (max-width: $break-sm)
    font-size: 14px

.body-copy-small
  font-family: $Lora
  font-size: 16px
  color: rgba(0, 0, 0, 0.7)
  @media screen and (max-width: $break-sm)
    font-size: 14px

.body-copy-bold
  font-family: $Lora
  font-size: 18px
  color: #404040

.charity-body-copy
  font-family: $Lora
  font-size: 17px
  color: rgba(0, 0, 0, 0.7)
  margin-bottom: 10px
  @media screen and (max-width: $break-sm)
    font-size: 14px

.contact-expander-text
  font-family: $Lora
  font-size: 28px
  color: #ffffff
  font-style: italic
  display: inline-block
  @media screen and (max-width: $break-sm)
    font-size: 22px
    display: block
    text-align: center
    margin-bottom: 10px

.numeral
  font-family: $Montserrat
  font-size: 14px
  color: $tks-red
  margin: 5px 10px

.legal
  font-family: $Montserrat
  opacity: 0.5
  font-size: 15px
  text-transform: uppercase
  display: inline-block

.blue-title
  font-family: $Lora
  font-size: 30px
  color: $tks-blue

.blue-title-small
  font-family: $Lora
  font-size: 26px
  color: $tks-blue

.blue-title-small:hover
  font-family: $Lora
  font-size: 26px
  color: $tks-blue-dark

.blue-title-small:focus
  text-decoration: none

.big-quote
  font-family: $Lora
  font-size: 38px
  font-weight: bold
  color: $white
  text-align: center
  letter-spacing: 1px
  margin-bottom: 20px
  @media screen and (max-width: $break-sm)
    font-size: 18px

.industry-title
  font-family: $Lora
  font-size: 32px
  font-weight: bold
  color: $white
  letter-spacing: 1px
  margin-bottom: 20px
  @media screen and (max-width: $break-sm)
    font-size: 20px

.industry-copy
  font-family: $Lora
  font-size: 16px
  color: $white
  @media screen and (max-width: $break-sm)
    font-size: 14px

.quote-attribute
  font-family: $Lora
  font-size: 20px
  color: $white
  text-align: center
  opacity: .7
  @media screen and (max-width: $break-sm)
    font-size: 14px

.quote-source
  font-family: $Lora
  font-size: 20px
  color: $white
  text-align: center
  font-style: italic
  display: inline-block
  @media screen and (max-width: $break-sm)
    font-size: 14px

.timeline-title
  font-family: $Lora

.industry-list
  color: $white
  list-style: disc
  font-family: $Lora
  margin-top: 10px

sup
  font-size: 15px
  top: -3.5em
  @media screen and (max-width: $break-sm)
    font-size: 10px
    top: -2.5em
  .resource-name &
    top: -9px

.uppercase-link
  font-family: $Montserrat
  font-size: 16px
  text-transform: uppercase
  color: $tks-blue

.link
  font-family: $Montserrat
  color: $tks-blue

.capabilities-link
  font-family: $Lora
  color: $tks-blue

.capabilities-numeral
  font-family: $Montserrat
  font-size: 14px
  color: $tks-red
  display: inline-block
  margin-right: 10px
  margin-top: 1px

.what-we-know-title
  font-family: $Lora
  font-size: 26px
  color: $tks-blue
  text-align: center

.filter-header
  margin-bottom: 20px

.home-link
  font-family: $Montserrat
  color: $tks-blue
  opacity: .6
  font-size: 14px
  text-transform: uppercase
  text-decoration: none
  transition: opacity .5s

.home-link:hover
  color: $tks-blue
  opacity: 1.0
  transition: opacity .5s
  text-decoration: none

a:hover
  text-decoration: none
  color: $tks-blue-dark


.active
  color: $tks-blue-dark
  text-decoration: none

.phonenumber
  font-weight: bold
  margin-top: 10px
  margin-bottom: 60px
