// import google fonts
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Montserrat')

// Font variables
$Lora: 'Lora', serif
$Montserrat: 'Montserrat', serif

.header-headline
  font-family: $Lora
  color: $white
  font-size: 80px

.header-body-copy
  font-family: $Lora
  color: $white
  font-size: 18px
  opacity: 0.8

.header-info
  font-family: $Lora
  font-size: 24px
  color: $white
  margin-bottom: 40px
  margin-top: 40px

.subhead-header
  font-family: $Montserrat
  opacity: 0.5
  font-size: 18px
  color: $white
  text-transform: uppercase

.subhead-header-box
  border-bottom: 2px solid #ff3301
  width: 200px
  margin-left: auto
  margin-right: auto

.subhead-nav-box
  border-top: 2px solid $tks-blue
  width: 200px
  padding-top: 10px

.subhead-box
  border-bottom: 2px solid #ff3301
  width: 200px
  margin-left: auto
  margin-right: auto
  margin-bottom: 20px

.subhead
  font-family: $Montserrat
  opacity: 0.5
  font-size: 18px
  text-transform: uppercase

.subhead-saturated
  font-family: $Montserrat
  opacity: 0.9
  font-size: 18px
  text-transform: uppercase

.highlighted-content
  font-size: 30px
  opacity: 0.75
  font-family: $Lora
  margin-bottom: 20px

.highlighted-content-box
  position: relative
  ::after
    content: ""
    display: block
    width: 80px
    border-bottom: 2px solid #ff3301

.resource-name
  font-family: $Lora
  font-size: 25px
  opacity: 0.9
  text-align: center
  margin-bottom: 20px
  margin-top: 40px

.nav-headline
  font-family: $Lora
  font-size: 38px
  color: $white
  text-transform: capitalize
  a
    color: $white
    text-decoration: none

.body-copy
  font-family: $Lora
  font-size: 17px
  color: #999999

.body-copy-bold
  font-family: $Lora
  font-size: 18px
  color: #404040

.contact-expander-text
  font-family: $Lora
  font-size: 30px
  color: #ffffff
  font-style: italic
  display: inline-block

.legal
  font-family: $Montserrat
  opacity: 0.5
  font-size: 15px
  text-transform: uppercase
  display: inline-block
  margin-top: 10px

.timeline-title
  font-family: $Lora

ul
  list-style-type: none

.uppercase-link
  font-family: $Montserrat
  font-size: 16px
  text-transform: uppercase
  color: $tks-blue

.link
  font-family: $Montserrat
  color: $tks-blue
