!!! 5
%html
	%head
		%title= "Happy Holidays!"
		%link{:rel => "stylesheet", :href => "stylesheets/styles.css"}/

	%body
		%canvas#canvas

		%section.container
			%h1
				Happy Holidays!
			%h2 &mdash;from the Technekes Team
			.content
				%iframe{:src => "http://www.youtube.com/embed/j2g3m29yFnU?rel=0&amp;showinfo=0", :frameborder => "0", :webkitallowfullscreen => "true", :mozallowfullscreen => "true", :allowfullscreen => "true"}
			.action
				%script{src: "http://platform.linkedin.com/in.js", type: "text/javascript"}
				:cdata
					lang: en_US
				%script{"data-counter" => "none", "data-id" => "128549", type: "IN/FollowCompany"}


			#footer
				%img.snow-left{:src => "img/snow-left.png", :alt => ""}/
				%img.snow-right{:align => "right", :src => "img/snow-right.png", :alt => ""}/

				%img.trees{:src => "img/trees.png", :alt => ""}/
				%img.santa{:src => "img/santa.png", :alt => ""}/
	%script{:type => "text/javascript", src:"js/movin.js"}
