a {
	text-decoration: none;
	color: #356687;
}

a:hover {
	text-decoration: none;
	color: #356687;
}

.itemDate {
	font-family: Avenir LT Std 65 Medium;
	font-size: 24px;
	letter-spacing: 0;
	leading: 0;
	color: #747676;
}

.itemCopy {
	font-family: Tahoma;
	font-size: 13px;
	letter-spacing: 0;
	leading: 0;
	color: #918f8f;
}


