.btn-primary
  background-color: transparent
  border: 2px solid $tks-blue
  color: #000000
  font-family: $Montserrat
  text-transform: uppercase
  font-size: 14px
  padding-left: 40px
  padding-right: 40px
  margin-top: 40px
  margin-bottom: 40px

.btn-primary:hover
  background-color: $tks-blue
  border: 2px solid $tks-blue
  color: $white

.btn-primary:focus
  background-color: $tks-blue-dark
  border: 2px solid $tks-blue-dark
  color: $white


.btn-primary:active
  background-color: $tks-blue-dark
  border: 2px solid $tks-blue-dark
  color: $white


.btn-secondary
  background-color: transparent
  border: 2px solid #ffffff
  color: #ffffff
  font-family: $Montserrat
  text-transform: uppercase
  font-size: 14px
  opacity: 0.6
  i
    padding-left: 10px

.btn-secondary:hover
  background-color: $white
  color: $tks-blue
  font-family: $Montserrat
  opacity: 1.0
  border: 2px solid $white
  i
    color: $tks-blue

.btn-social
  background-color: transparent
  border-radius: 4px
  border: 2px solid rgba(0, 0, 0, 0.2)
  font-family: $Montserrat
  text-transform: uppercase
  color: rgba(0, 0, 0, 0.4)
  margin-left: auto
  margin-right: auto
  i
    color: rgba(0, 0, 0, 0.9)
    vertical-align: middle

.centered-link
  margin-left: auto
  margin-right: auto

.btn-social:hover
  background-color: $tks-blue
  color: $white
  border: 2px solid $tks-blue
  i
    color: $white

.btn:focus
  outline: none

.open-btn, .close-btn
  background-color: $tks-blue
  color: $white
  border-radius: 50%
  border: none
  height: 30px
  opacity: 1.0
  transition: height .4s, opacity .5s, margin-top .5s
  cursor: pointer
  margin-top: 2px
  .modal-header &
    margin-top: 0px
    +breakpoint(md)
      margin-top: -12px
  +breakpoint(md)
    height: 40px
    margin-top: 11px

.open-btn:hover, .close-btn:hover, .home-link:hover
  opacity: .6
  transition: opacity .5s

.open-btn:focus, .close-btn:focus
  outline: none

.scroll
  +breakpoint(md)
    height: 35px
    margin-top: 5px
