.btn
  border-radius: 0px
  font-family: $averia
  padding: 10px 50px

.btn-primary, .btn-primary-dark, .btn-primary-blue
  background-color: $util-clear
  border: 2px solid $pri-yellow
  color: $sec-white
  &:hover
    background-color: $pri-yellow
    border: 2px solid $pri-yellow
    color: $pri-black

.btn-primary-dark
  color: $pri-black

.btn-primary-blue
  color: $pri-blue

.nav-btn
  padding: 5px 20px

.wide
  width: 100%

.back_link
  border-bottom: 2px solid $pri-yellow
  color: $pri-black
  &:hover
    text-decoration: none

.button-primary-dark-bg
  background: rgba(0, 0, 0, .6) !important
