.card_horizontal_contact_box
  width: 100%
  height: auto
  padding-top: 30px
  padding-bottom: 50px
  display: inline-block
  white-space: nowrap
  text-align: center
  .main_element_card
    width: 25%
    margin-left: 37.5%
    margin-right: 37.5%
    float: left
    padding: 15px 0
    @media screen and (max-width: $break-med)
      width: 100%
      margin-left: 0
      margin-right: 0
      padding-left: 15px
      padding-right: 15px
  .sub_element_card
    width: 30%
    height: 78px
    padding: 15px 0
    margin-left: 1.666666667%
    margin-right: 1.666666667%
    float: left
    @media screen and (max-width: $break-med)
      width: 100%
      margin-left: 0
      margin-right: 0
      padding-left: 15px
      padding-right: 15px
    .input-group
      height: 46px
      .input-group-addon
        border-radius: none
        background-color: white
        border-right: none
      input
        height: inherit
        border-left: none

.card_img_box
  background-size: cover
  background-repeat: no-repeat
  height: 270px
  overflow-x: hidden
  width: 100%
  position: relative
  border-radius: 0px
  border: none

.card-img
  position: absolute
  top: 0
  max-height: 270px
  border-radius: 0px

.card
  border-radius: 0px

.card-img-top
  border-radius: 0px

.blog-card
  margin-left: auto
  margin-right: auto

a.case_study_card
  text-decoration: none
  color: inherit
  &:hover
    text-decoration: none
.card
  height: 100%

.media-logo-box
  height: 200px
  padding-top: 40px
  @media screen and (max-width: $break-med)
    padding-top: 20px
    padding-bottom: 20px
    height: auto

.media-logo
  max-width: 250px

.card-subhead
  text-transform: uppercase
  font-weight: bold
  color: $sec-lightgrey

.card-title
  min-height: 90px


.media-card-content
  height: 400px

.small-case-img
  width: 200px
  height: 100px
