.card_img_box
  width: 100%
  background-size: cover
  background-repeat: no-repeat
  height: 270px

.blog-card
  margin-left: auto
  margin-right: auto

a.case_study_card
  text-decoration: none
  color: inherit
  &:hover
    text-decoration: none
  .card
    height: 100%

