.card_img_box
  background-size: cover
  background-repeat: no-repeat
  height: 270px
  overflow-x: hidden
  width: 100%
  position: relative

.card-img
  position: absolute
  top: 0
  max-height: 270px


.blog-card
  margin-left: auto
  margin-right: auto

a.case_study_card
  text-decoration: none
  color: inherit
  &:hover
    text-decoration: none
.card
  height: 100%

.media-logo-box
  height: 200px
  padding-top: 40px
  @media screen and (max-width: $break-med)
    padding-top: 20px
    padding-bottom: 20px
    height: auto

.media-logo
  max-width: 250px

.card-subhead
  text-transform: uppercase
  font-weight: bold
  color: $sec-lightgrey

.card-title
  min-height: 90px


.media-card-content
  height: 400px

.small-case-img
  width: 200px
  height: 100px
