.feed-container
  font-family: $Montserrat
  .feed-item
    margin-bottom: 20px
  a
    color: $tks-grey-dark
    &:hover
      text-decoration: none
  .post-image-container
    width: 100%
    height: auto
    +breakpoint(xxs)
      height: 280px
    +breakpoint(xs)
      height: 300px
    +breakpoint(sm)
      height: 200px
    +breakpoint(md)
      height: 250px
    +breakpoint(lg)
      height: 320px
    overflow: hidden
    img
      max-width: 100%
  .post-title
    font-size: 18px
    font-weight: bold
    text-align: left
    margin: 10px 0
    @media screen and (max-width: $break-sm)
      font-size: 16px
  .post-body
    text-align: left
    @media screen and (max-width: $break-sm)
      font-size: 14px
  .post-date
    color: $tks-grey
    text-align: left
    margin-top: 10px

#rss-feeds
  margin-top: 40px

// Instafeed

#instafeed
  width: 100%
  overflow-x: scroll

.instaphoto
  padding-left: 0
  padding-right: 0
