$shortTransTime: 0.4s

.contactform
  background-color: $util-white
  padding: 50px 50px

.contactForm
  .form-group
    label
      transition: $shortTransTime
    input
      transition: $shortTransTime

.countryLi
  cursor: pointer
  padding-left: 15px
  a
    text-decoration: none
    color: black

.countryLi:hover
  background-color: $sec-white

#c-submit-button
  background-color: $util-white
  color: $util-black
  font-family: $averia
  font-size: 1rem
  width: 100%
  border-radius: 0
  border: 2px solid $pri-yellow
