.contactform
  background-color: $util-white
  padding: 50px 50px

.cognito
  .c-label
    label
      font-weight: 300
      font-family: $yantra
      font-size: 17px
      color: $sec-grey
  .c-forms-confirmation
    .c-forms-confirmation-message
      span
        text-align: center
        font-size: 22px
        font-family: $averia

#c-submit-button
  background-color: $util-white
  color: $util-black
  font-family: $averia
  font-size: 1rem
  width: 100%
  border-radius: 0
  border: 2px solid $pri-yellow
