.service
  border: 2px solid $tks-red
  padding: 5px
  margin: 1px
  font-family: $Montserrat
  max-width: 129px
  &:hover
    background: mix(white, $tks-blue, 80%)
    cursor: pointer
  .service-label
    text-align: center
    text-transform: uppercase
    font-size: .8em
  .service-icon
    font-size: 60px
    text-align: center
  &.inactive
    +opacity(.4)
    border: 2px solid #404040

.grid
  display: flex
  justify-content: center
  &::after
    opacity: 0

.filter-item
  button
    display: flex


.filter-list
  display: block
  .btn
    display: block

.popover
  padding: 15px
  max-width: 350px
  .dismiss-popover
    background: none
    border: none
    width: 35px
    height: 35px
    float: right
    position: relative
    top: -35px
    left: -10px
    overflow: hidden
