.social-links
  a
    color: $tks-grey
    &:hover, &:focus
      text-decoration: none
      color: $tks-grey-dark
      +opacity(1)

.social-icons
  font-size: 30px
  opacity: 0.4
  margin-left: 5px
  margin-right: 5px

.insta-link-icon
  font-size: 30px
  opacity: 0.4
  margin-left: 5px
  margin-right: 5px

.social-icons-nav
  font-size: 30px
  opacity: 0.4
  color: #ffffff
  margin-left: 5px
  margin-right: 5px

.leadership-linkedin
  font-size: 30px
  text-align: center
  color: #0077B5
  margin-bottom: 10px

.leadership-tile
  a:hover
    text-decoration: none

.linkedin-box
  width: 100%
  display: flex
  align-items: center
  justify-content: space-around
  a
    display: inline-block

.service-icon
  img
    width: 115px

.home-icon
  height: 20px
