.jumbotron-fluid
  background-size: cover

#homeJumbo
  background-image: url("../images/home-header-light-2.gif")
  background-position: bottom
  min-height: 600px
  padding-top: 150px
  padding-bottom: 40px
  @media screen and (max-width: $break-lg)
    padding-top: 50px

#learnJumbo
  height: 550px

#signalsJumbo
  background-image: url("../images/screenshots/Product-Header-iMac-Mockup-overlay3.jpg")
  background-position: center
  background-size: cover
  background-color: $util-black
  background-repeat: no-repeat
  height: 550px
  padding-top: 200px
  @media screen and (max-width: $break-med)
    background-position: 40% 20%
    height: 400px

#head2headJumbo
  background-image: url("../images/head-to-head-new.jpg")
  background-position: center

#specsJumbo
  background-image: url("../images/product-specs.jpg")
  background-position: center

#diveJumbo
  background-image: url("../images/deeperdive-header.jpg")
  height: 400px
  align-content: center

#aboutJumbo
  background-image: url("../images/about-header.jpg")
  height: 400px
  padding-top: 100px


#solutionsJumbo
  background-image: url("../images/solutions-header.jpg")
  height: 550px
  background-position: center
  padding-top: 200px

#blogJumbo
  background-image: url("../images/blog-header.jpg")
  height: 400px
  background-position: center
  padding-top: 150px


#contactJumbo
  background-image: url("../images/contact-header.jpg")
  height: 400px
  background-position: center
  padding-top: 150px


#worldJumbo
  background-image: url("../images/world-map.png")
  height: 800px
  background-position: center
  width: 100%
  background-size: cover

#joinJumbo
  background-image: url("../images/joinus-header.jpg")
  height: 400px
  align-content: center

#caseJumbo
  height: 400px
  align-content: center

#case_studiesJumbo
  background-image: url("../images/case_studies/headers/allcasestudies-photo.jpg")
  background-position: center
  height: 400px


#dataConnector
  height: 550px
  overflow: hidden
