$break-xs: 476px
$break-sm: 638px
$break-med: 773px
$break-lg: 991px
$break-xl: 992px
$break-home-sm: 421px

.jumbotron
  min-height: 600px
  padding-top: 100px
  background-color: $tks-blue
  border-radius: 0
  display: flex
  align-items: flex-end
  justify-content: flex-start

.small-box
  width: 100%

.home-header
  text-align: center
  min-height: 800px
  display: flex
  align-items: center

.headquarters-box
  background-image: url("tks_headquarters.jpg")
  background-repeat: no-repeat
  background-position: left
  background-size: cover
  max-width: 1110px
  margin-left: auto
  margin-right: auto
  display: flex
  align-items: flex-end
