$break-xs: 476px
$break-sm: 638px
$break-med: 773px
$break-lg: 991px
$break-xl: 992px
$break-home-sm: 421px

.jumbotron
  height: 600px
  background-color: $tks-blue
  border-radius: 0
  @media screen and (min-width: $break-xl)
    padding-top: 250px
  @media screen and (max-width: $break-lg)
    padding-top: 200px
  @media screen and (max-width: $break-med)
    padding-top: 150px
  @media screen and (max-width: $break-sm)
    padding-top: 150px
    height: 750px
  @media screen and (max-width: $break-xs)
    height: 900px

.home-header
  text-align: center
  height: 800px
  @media screen and (max-width: $break-home-sm)
    height: 900px

.headquarters-box
  background-image: url("tks_headquarters.jpg")
  background-repeat: no-repeat
  background-position: left
  background-size: cover
  padding-top: 375px
  max-width: 1110px
  margin-left: auto
  margin-right: auto
  @media screen and (max-width: 768px)
    padding-left: 100px
