.jumbotron-fluid
  background-size: cover

#homeJumbo
  background-image: url("/assets/images/home-header-light.gif")
  background-position: bottom
  min-height: 600px
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  padding-top: 40px
  padding-bottom: 40px

#learnJumbo
  background-image: url("../images/home-signals.jpg")
  height: 550px

#signalsJumbo
  background-image: url("../images/product-header.jpg")
  background-position: center
  height: 600px
  padding-top: 200px

#head2headJumbo
  background-image: url("../images/head-to-head.jpg")
  background-position: center

#specsJumbo
  background-image: url("../images/product-specs.jpg")
  background-position: center

#diveJumbo
  background-image: url("../images/deeperdive-header.jpg")
  height: 400px
  display: flex
  justify-content: center
  align-content: center
  flex-direction: column

#aboutJumbo
  background-image: url("../images/about-header.jpg")
  height: 400px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

#solutionsJumbo
  background-image: url("../images/solutions-header.jpg")
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  height: 550px
  background-position: center

#blogJumbo
  background-image: url("../images/blog-header.jpg")
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  height: 400px
  background-position: center

#contactJumbo
  background-image: url("../images/contact-header.jpg")
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  height: 400px
  background-position: center

#worldJumbo
  background-image: url("../images/world-map.png")
  height: 800px
  background-position: center
  width: 100%
  background-size: cover

#joinJumbo
  background-image: url("../images/joinus-header.jpg")
  height: 400px
  display: flex
  justify-content: center
  align-content: center
  flex-direction: column

#caseJumbo
  height: 400px
  display: flex
  justify-content: center
  align-content: center
  flex-direction: column

#dataConnector
  height: 550px
  overflow: hidden
