.line
  width: 70%
  &:after
    content: ''
    position: absolute
    border-style: solid
    border-width: 7px 7px 0
    border-color: #FFFFFF transparent
    display: block
    width: 0
    z-index: 1
    top: 8px
    left: 45%
  &:before
    content: ''
    position: absolute
    border-style: solid
    border-width: 7px 7px 0
    border-color: #7F7F7F transparent
    display: block
    width: 0
    z-index: 1
    top: 9px
    left: 45%

.giant-arrow
  position: relative
  background: transparent
  border-bottom: 1px solid #ccc
  margin: 25px 0 35px 0
  &:after, &:before
    top: 100%
    left: 50%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none
  &:after
    border-color: rgba(0, 0, 0, 0)
    border-top-color: #fff
    border-width: 30px
    margin-left: -30px
  &:before
    border-color: rgba(0, 0, 0, 0)
    border-top-color: #ccc
    border-width: 32px
    margin-left: -32px

.separator
  border-top: 1px solid #eee
  height: 1px
  margin-top: 15px
  opacity: .5
