%form
  .form-group
    %label First Name
    %input.form-control{ placeholder: "First Name" }/
  .form-group
    %label Last Name
    %input.form-control{ placeholder: "Last Name" }/
  .form-group
    %label Email address
    %input.form-control{"aria-describedby" => "emailHelp", placeholder: "Email Address", type: "email" }/
  .form-group
    %label Phone Number
    %input.form-control{ placeholder: "Phone Number", type: "tel" }/
  .form-group
    %label{:for => "exampleTextarea" } Message
    %textarea.form-control{ rows: "3" }
  %button.btn.btn-primary-dark.wide{type: "submit", onclick: "SubmittoChannel()" } Send Message
