%form.contactForm{id:'whitePaperGroup'}
  .form-group
    %label{id: "inputlabel0"} First Name
    %input.form-control{ placeholder: "First Name", onclick: "alertReset()", id: "WhiteFirstName"}/
  .form-group
    %label{id: "inputlabel1"} Last Name
    %input.form-control{ placeholder: "Last Name", onclick: "alertReset()", id: "WhiteLastName" }/
  .form-group
    %label{id: "inputlabel2"} Email Address
    %input.form-control{"aria-describedby" => "emailHelp", placeholder: "Email Address", type: "email", id:"emailInput", onclick: "alertReset()"}/
  .form-group
    %label{id: "inputlabel3"} Phone Number
    %input.form-control{ placeholder: "Phone Number", type: "tel", onclick: "alertReset()", id: "WhitePhone" }/
  .form-group
    %label{id: "inputlabel4"} Company Name
    %input.form-control{ placeholder: "Company Name", type: "company", onclick: "alertReset()", id: "WhiteCompany" }/
    %a{href:'/assets/images/Stratifyd_White_Paper.pdf', download:'', target:"_blank", id:'download_pdf', style:'display: none;'}
  -# %iframe{id:'download_pdf', style:'display: none;', src:'/assets/images/Stratifyd_White_Paper.pdf'}
%button.btn.btn-primary-dark.wide{type: "button", onclick: "SubmittoChannel()" } Request White Paper

:javascript

  function SubmittoChannel(){
    var values = [];
    $('input').each(function(k) {
      values.push($(this).val());
      if(k<3)
      {
        if($(this).val()=="")
        {
          alertTarget(this,k);
          if(k==2)
          {
            $('#inputlabel'+k).text('Please fill this part');
          }
        }
      }
      });

      if((values[2]=='')||(values[1]=='')||(values[0]=='')/*||(values[3]=='')||(values[4]=='')*/)//values[2]is the email, values[1] is the lastname, values[0] is the firstname, values[3] is the phone number, values[4] is the company name, you can also find the order in the function postUserFeedback, and you could change this based on how you pase the data.
      {
        //bootbox.alert('Your full name and valid company email address is required, you may not sign up with your gmail.');
      }
      else{
      if(emailCheck(values[2]))
      {
        //bootbox.alert('Your information has succeeded uploaded, our staff members will contact with you soon.')
        postUserFeedback(values[2],values[1],values[0], values[3], values[4]);
        alertSuccess();
        }
        else
        {
          alertTarget('#emailInput',2);
          $('#inputlabel2').text('Sorry, please check your email');
        //bootbox.alert('Your full name and valid company email address is required, you may not sign up with your gmail.');
        }

      }
  }

  function dropdownToggle(){
    var CurrentDrop = $('#GeoDropDown').attr('class');
    CurrentDrop = (CurrentDrop == 'dropdown')? "dropdown open" : "dropdown";
    $('#GeoDropDown').attr('class',CurrentDrop);
  }

  function selectGeo(target){
    var CurrentValue = ($(target).find('a')[0].innerHTML);
    $('#geoBtnValue').val(CurrentValue);
    $('#geoBtnValue').text(CurrentValue);
    console.log($('#geoBtnValue').val());
    dropdownToggle();
    //$('#GeoDropDown').val(CurrentValue);
  }

  var kFeedbackWebHook = 'https://hooks.slack.com/services/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';
  function postToFeedbackChannel(json) {
    var string = JSON.stringify(json);
    var jxh = $.post( kFeedbackWebHook, string );
    return jxh;
  }

  String.prototype.format = function() {
    var i = 0, newStr = this;
    while (/%s/.test(newStr))
      newStr = newStr.replace("%s", arguments[i++]);
    return newStr;
    }

  function alertSuccess() {

    $('input').each(function(k) {
      if($(this).val()!="")
      {
        $('#inputlabel'+k).css('color','#00a1ae');
        $('#inputlabel'+k).text('Success Submit! Thank You!');

      }
    })
    /*if($('#geoBtnValue').val()!="Select Your Country")
    {
      $('#inputlabel7').css('color','#00a1ae');
      $('#inputlabel7').text('Success Submit! Thank You!');
    }

    if($('#TextMessa').val()!="")
    {
      $('#inputlabel8').css('color','#00a1ae');
      $('#inputlabel8').text('Success Submit! Thank You!');
    }*/

    document.getElementById('whitePaperGroup').reset();
    document.getElementById('download_pdf').click();
    var a = document.getElementbyId('download_pdf');
    a.setAttribute("download", "Stratifyd_White_Paper.pdf");

      if(a.download != "undefined")
      {
         // download attribute is supported
      }
      else
      {
        window.open('/assets/images/Stratifyd_White_Paper.pdf');
      }
  }

  function alertReset() {
    $('input').each(function(k) {
        $(this).css('border-color','#ccc');
        $('#inputlabel'+k).css('color','#6a6a6a');
    })
    $('#inputlabel0').text('First Name');
    $('#inputlabel1').text('Last Name');
    $('#inputlabel2').text('Email Address');
    $('#inputlabel3').text('Phone Number');
    $('#inputlabel4').text('Company Name');
  }

  function alertTarget(target,k) {
    $('#inputlabel'+k).css('color','red');
    $('#inputlabel'+k).text('Please fill this part');
    $(target).css('border-color','red');
  }

  function postUserFeedback( email, lastname, firstname, phone, company) {
    var url = window.location.href;
    var fallback = "New feedback from <mailto:%s?subject=Stratifyd, Inc. Client Support|%s>".format(email,email);
    var page = '<'+url+'>';
    var json = {
    attachments : [
    {
      fallback: fallback,
      pretext: fallback,
      color: "warning",
      fields:[
      {
        title: 'LastName',
        value: lastname,
        short: false
      },
      {
        title: 'FirstName',
        value: firstname,
        short: false
      },
      {
        title: 'Phone Number',
        value: phone,
        short: false
      },
      {
        title: 'Company',
        value: company,
        short: false
      },
      {
        title: 'Browsing Page',
        value: page,
        short: false
      }]
    }]
  }
    return postToFeedbackChannel(json).fail(function() {
    showAlertDialog('error', _L('Opps, something wrong.  Please try later.'));
    }).always(function() {
      var urlEncode = encodeURI('#FN=' + firstname + '&LN=' + lastname + '&PhN=' + phone + '&CN=' + company + '&EM=' + email)
      window.location = '/congratulation.html' + urlEncode;
    });
  }

  function emailCheck(emailAddr)
  {
    if((emailAddr == null) || (emailAddr.length < 2)) return false ;
    var aPos = emailAddr.indexOf("@" ,1) ;
    var lowerAddr = emailAddr.toLowerCase();
    if(aPos < 0)
    {
      return false ;
    }
    if(emailAddr.indexOf("." ,aPos+2) < 0)
    {
      return false ;
    }
    return true ;
  }
