.container
  %h3.display-3.text-xs-center.p-y-3 About Us

  .jumbotron.jumbotron-fluid
    .container
      %h3.display-4
        .fa.fa-chevron-down
        Behind the curtain
      %p.lead Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
.container
  .row
    .col-md-12
      %p Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
      %p Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.

  .jumbotron.jumbotron-fluid
    .container
      %h3.display-4 Leaders
      %p.lead Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
.container
  .row
    .col-md-4
      =image_tag 'placeholderjoe.jpg', class: 'placeholder'
    .col-md-4
      =image_tag 'placeholderjoe.jpg', class: 'placeholder'
    .col-md-4
      =image_tag 'placeholderjoe.jpg', class: 'placeholder'
  .row
    .col-md-4
      =image_tag 'placeholderjoe.jpg', class: 'placeholder'
    .col-md-4
      =image_tag 'placeholderjoe.jpg', class: 'placeholder'
    .col-md-4
      =image_tag 'placeholderjoe.jpg', class: 'placeholder'
  .row
    .col-md-4
      =image_tag 'placeholderjoe.jpg', class: 'placeholder'
    .col-md-4
      =image_tag 'placeholderjoe.jpg', class: 'placeholder'
    .col-md-4
      =image_tag 'placeholderjoe.jpg', class: 'placeholder'

  .jumbotron.jumbotron-fluid
    .container
      %h3.display-4 Community
      %p.lead Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
.container
  .row
    .col-md-6
      %p Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
    .col-md-3
      %h4
        Our Charitable Partners
      %ul
        %li All in to Fight Cancer
        %li Ronald McDonald House
        %li Red Shoe Shootout
        %li Other
