---
title: Blog
---
.jumbotron-fluid#blogJumbo
  .row
    .text-xs-center
      .header.light Blog

.block
  .container
    #medium-featured-post

.container.news
  .text-xs-center
    .header-sm
      Recent Posts
  %br/
  %br/
  .row
    .col-xs-12
      #medium-recent-posts
  .text-xs-center
    %a.btn.btn-primary-dark.m-t-2{ href: 'http://medium.com/stratifyd',
      target: '_blank' }
      Read More Blog Posts
  %br/
  %br/

.block-blue-pad
  .container
    = partial 'horizontalContactForm'  
