---
title: Blog
---
.jumbotron-fluid#blogJumbo
  .row
    .text-xs-center
      .header.light Blog

.block
  .container
    #medium-featured-post

.container.news
  .text-xs-center
    .header-sm
      Recent Posts
  %br/
  %br/
  .row
    .col-xs-12
      #medium-recent-posts
