---
title: Capabilities
js_include:
  - 'services.bundle'
  - 'capabilities.bundle'
---

.jumbotron.capabilities-header
  .container
    .header-headline Capabilities
    .subhead-hero What we do
    .row
      .col-lg-6.header-body-copy
        Technekes is your one-stop demand creation shop. We provide everything you need to grow sales with customers and prospects &mdash; all of the technology, people and processes to reach the right audience at the right time with the right message.

#capabilities

.grey
  .container.content-section
    .row
      .col-md-7
        .highlighted-content-header Key Industry Verticals
        .subhead-content-box
          .subhead Who we work with

    .row
      .col-lg-6.col-lg-offset-0.col-sm-12.col-md-8.col-md-offset-2
        .industry-box#agriculture
          .industry-header
            .industry-title Agriculture & Life Sciences
            .industry-subhead
              .subhead-content-box
                .subhead-white extra arms, legs & brains to grow demand
            .industry-copy Technekes' first clients were in the Agriculture & Life Sciences business and, to this day, we continue to work in the seasonal business that is agriculture. And we are proud to note that &mdash; #{tks_longevity} years later &mdash; many of our early clients are still with us.
      .col-lg-6.col-lg-offset-0.col-sm-12.col-md-8.col-md-offset-2
        .industry-box#pharma
          .industry-header
            .industry-title Healthcare
            .industry-subhead
              .subhead-content-box
                .subhead-white one practice at a time
            .industry-copy Technekes launched into pharmaceutical and medical device field 10 years ago and continues to play a crucial role as the industry continues to evolve. We effectively promote products to physicians and extenders, support field territories, generate leads, place samples and more, while ensuring compliance within a strict regulatory environment.

    .row
      .col-lg-6.col-lg-offset-0.col-sm-12.col-md-8.col-md-offset-2
        .industry-box#manu
          .industry-header
            .industry-title Manufacturing, Distribution & Construction
            .industry-subhead
              .subhead-content-box
                .subhead-white Activating the Channel
            .industry-copy Industrials typically have multiple distribution points (direct and indirect) and a geographically dispersed sales team to get their product into the field, so Technekes combines technology solutions with outbound marketing and sales support efforts to generate opportunities for reps in the field.

      .col-lg-6.col-lg-offset-0.col-sm-12.col-md-8.col-md-offset-2
        .industry-box#b2b
          .industry-header
            .industry-title B2B
            .industry-subhead
              .subhead-content-box
                .subhead-white Bring Buyers and Sellers Together
            .industry-copy Our experience translates well to clients whose point-of- view is business-to-business. In these examples, ranging from retail to financial services to other industries, we provide strategic recommendations and execution support to drive sales. Whether outsourced marketing automation support, data integration, or contracted inside sales, Technekes boosts ROI.

.container.content-section
  .row
    .col-md-7.hidden-xs-down
      .highlighted-content-header What's your challenge?
      .subhead-content-box
        .subhead How we help
      .body-copy Below are a few things we hear every day from marketing and sales professionals like you. Do any of these sound familiar? The good news is these are exactly the kinds of challenges we turn into opportunities for you to engage prospects, delight customers and drive sales.
    .col-md-7.hidden-sm-up
      .highlighted-content-header Services
      .subhead-content-box
        .subhead How we help
      .body-copy Below are a few things we hear every day from marketing and sales professionals like you. Do any of these sound familiar? The good news is these are exactly the kinds of challenges we turn into opportunities for you to engage prospects, delight customers and drive sales.
  .row
    #gridContainer

.divider
.container.content-section#PlatformSolutions
  .row
    .col-md-7
      .highlighted-content-header Platform Solutions
      .subhead-content-box
        .subhead Our products

  .row

    .col-md-6#RepOnCall
      .resource-name
        RepOnCall&#8480;
      .body-copy-small
        Technekes bolsters your sales efforts, opening a "virtual" door for your field sales, account management, and CRM teams. Let our team of professional, industry-specific reps extend your territory reach and deliver measurable results.
    .col-md-6#PaaSport
      .resource-name
        PaaSport&#8480;
      .body-copy-small
        Managing data in disparate systems isn't easy. That's why we built PaaSport &#8480;, our proprietary, fully customizable platform-as-a-service solution that consolidates your sales and marketing data into one central &mdash; and powerful &mdash; database marketing source.
    .col-md-6#PerfectPayments
      .resource-name
        PerfectPayments&#8480;
      .body-copy-small
        PerfectPayments&#8480 is Technekes’ proprietary incentive management system. It’s an end-to-end solution combining a business rules engine, real-time transaction, incentive calculation, and program exposure processing with batch generation, approval workflow, and audit and escheatment management.
    .col-md-6#RewardStation
      .resource-name
        RewardStation<sup>&reg;</sup>
      .body-copy-small
        Administer your customer loyalty and employee incentive programs through our easy-to-use, turnkey software solution. We'll help you boost lead conversion, improve customer retention, and capture market data through your own fully branded program hub.
