%br
%br
%br
%br
.container
  .row
    .col-xs-12
      <link rel="stylesheet" type="text/css" href="//reports.http://hrmdirect.com/employment/default/sm/settings/dynamic-embed/dynamic-iframe-embed-css.php">
      <script type="text/javascript" src="//reports.http://hrmdirect.com/employment/default/sm/settings/dynamic-embed/dynamic-iframe-embed-js.php"></script>
      <div id="iframeHeightDiv" name="HRM Direct Career Site iFrame Container" align="center">
      <iframe id="inlineframe" name="HRM Direct Career Site iFrame" src="//technekes.hrmdirect.com/employment/job-openings.php?search=true&amp;nohd=&amp;dept=-1&amp;city=-1&amp;state=-1" frameborder="0" allowtransparency="true" width="100%" height="600">
      </iframe>
