---
title: Case Study
---
.jumbotron-fluid#caseJumbo
  .text-xs-center
    .header.light.m-b-1 Stratifyd Signals for Hospitality

.block-sm
  .container
    .row
      .col-md-6.col-xs-12.col-md-offset-3.m-b-2
        .text-xs-center
          .header-sm.m-b-3 Executive Summary
          .serif-md.blue.m-b-1 Challenges in Hospitality
    .row.text-md-left.text-xs-center
      .col-md-6
        %p Patented Signals analysis technology reads, assembles and processes wordgrams of varying length within every textual element to “learn” statistically relevant topics within the text. Built on a mixture of RNN, Semantic Parsing, Multi-Model Data Connection, Graph Models, LSTM, Signals’ analytics engine dynamically creates semantic associations across all textual elements, grouping related elements together into categories, top trends, and geo clusters.
      .col-md-6
        %p Autonomously learning the content of any textual data provides a fast, unbiased method for processing customer comments, product reviews, chat sessions, voice to transcript interactions, survey data and other unstructured content


.block-sm
  .container
    .row
      .col-md-6.col-xs-12.col-md-offset-3.m-b-2
        .text-xs-center
          .serif-md.blue.m-b-1 How Signals Helped
    .row.text-md-left.text-xs-center
      .col-md-6
        %p Signals solves the challenge of textual analytics and enables in-line structured data exploration, automated predictive results, and effortless collaboration within your analytics context. Specifically, the Signals intelligence core engine will automatically categorize your structured data based on known Numerical, Categorical, Ordinal, Temporal, User and Geographical data types.
        %p Automatic spatial-temporal algorithms, such as KDE, Graph-Model, Convolutional Neural Network (CNN) and Page-Rank weighting, Signals performs multiple complex processing elements to identify key elements within any data set.
      .col-md-6
        %p From ad hoc jobs to enterprise data sets, the ability to select and dimension data, including sentiment, geography, category and topics associated with unstructured textual data across these structured dimensions for discrete analysis is fast and easy.

.block-sm
  .container
    .row
      .col-md-6.col-xs-12.col-md-offset-3.m-b-2
        .text-xs-center
          .serif-md.blue.m-b-1 Results and Return on Investment
    .row.text-md-left.text-xs-center
      .col-md-6.col-md-offset-3
        %p Using deep-learning algorithms, Signals enables predictive analytics on user behaviors, user modeling, event modeling, trend spotting, and topic summarization.  These foundational predictive elements deliver the insights necessary to tune business practices and drive business value.
