---
title: Case Studies
---

.jumbotron-fluid#case_studiesJumbo
  .header.light Case Studies

%br/
%br/

.container
  .row
    - data.case_studies.each do |study|
      %a.col-md-4.case_study_card{ href: "#{study.slug}.html" }
        .card
          .card_img_box
            %img.card-img{ src: "assets/images/case_studies/headers/#{study.jumbo}" }/
          .card-block
            .card-subhead
              = study.focus
            %h4.serif-md
              = study.header
            .body-copy.card-text
              Some quick example text to build on the card title and make
              up the bulk of the card's content.
  %br/
  %br/
