---
title: Congratulation
---
.jumbotron-fluid#congratulateJumbo
  .text-xs-center
    .header.light

-# .block
-#   .container
-#     .row
-#       .col-xs-12
-#         .serif-lg.blue.m-b-1.text-xs-center Thank you for requesting the White Paper!
-#         -# .form-group.white-allign{style:'display:inline-block'}
-#         -#   %img{src: "/assets/images/white_paper_cover.jpg", class:"whiteBookCover_Congratulate"}

.block{style:"padding-top: 0px;"}
  .container
    = partial 'horizontalContactDarkenForm'
