---
title: Contact Us
---
.jumbotron-fluid#contactJumbo
  .text-xs-center
    .header.light Contact Us

.block
  .container
    .text-xs-center.m-b-3
      .header-sm Where To Find Us

    .row
      .col-md-5.col-md-offset-1.col-xs-12
        .location
          .serif-md.blue United States
          .sub-serif-md.blue North Carolina
          %ul.address-list
            %li 1431 W. Morehead Street
            %li Charlotte, NC 28208
            %li P. 704-215-4955
            %li webcontact@stratifyd.com

        .location
          .sub-serif-md.blue Silicon Valley
          %ul.address-list
            %li 4500 Great America Pkwy
            %li Santa Clara, CA 95054
            %li webcontact@stratifyd.com

        .location
          .serif-md.blue China
          %ul.address-list
            %li 9th, Guanghua road
            %li Chaoyang District, Beijing SOHO 2
            %li P. 1 3466 390016
            %li paul@tasteanalytics.cn

        .location
          .serif-md.blue London
          %ul.address-list
            %li 24 Cornwall Rd
            %li Dorchester, Dorset DR1 1RX
            %li P. +44 (0) 7944 724920
            %li o.bayliss@stratifyd.com
        .location
          %a.link-style{:href => "join-us.html"}
            Check out our job listings


      .col-md-5.col-md-offset-1.col-xs-12
        .serif-md.blue.m-b-1{style: 'display: inline-block; width: 100%; margin-bottom: 0px !important;'}
          %div{style:'width: 50%; float: left; text-align: left;'}
            %p Contact Form
          %div{style:'width: 50%; float: right; text-align: right;'}
            <script src="https://www.linkedin.com/autofill/js/autofill.js" type="text/javascript" async></script>
            <script type="IN/Form2" data-form="contactFormGroup" data-field-firstname="contactFirst" data-field-lastname="contactLast" data-field-phone="contactPhone" data-field-email="emailInput" data-field-company="contactCompany"></script>
        = partial 'contactForm'
  .container
    .row
      .col-xs-12.text-xs-center
        %img{src: "/assets/images/world-map.png", class:"world"}
