---
title: Deeper Dive
---
.jumbotron-fluid#diveJumbo
  .text-xs-center
    .header.light.m-b-1 Deeper Dive

.block-sm
  .container
    .row
      .col-md-6.col-xs-12.col-md-offset-3.m-b-2
        .text-xs-center
          .header-sm.m-b-3 Technical Product Specs
          .header-xs.circle 1
          .serif-md.blue.m-b-1 Deep Textual Learning
    .row.text-md-left.text-xs-center
      .col-md-6
        %p Patented Signals analysis technology reads, assembles and processes wordgrams of varying length within every textual element to “learn” statistically relevant topics within the text. Built on a mixture of RNN, Semantic Parsing, Multi-Model Data Connection, Graph Models, LSTM, Signals’ analytics engine dynamically creates semantic associations across all textual elements, grouping related elements together into categories, top trends, and geo clusters.
      .col-md-6
        %p Autonomously learning the content of any textual data provides a fast, unbiased method for processing customer comments, product reviews, chat sessions, voice to transcript interactions, survey data and other unstructured content


.block-sm
  .container
    .row
      .col-md-6.col-xs-12.col-md-offset-3.m-b-2
        .text-xs-center
          .header-xs.circle 2
          .serif-md.blue.m-b-1 Smart Structure Data Discovery
    .row.text-md-left.text-xs-center
      .col-md-6
        %p Signals solves the challenge of textual analytics and enables in-line structured data exploration, automated predictive results, and effortless collaboration within your analytics context. Specifically, the Signals intelligence core engine will automatically categorize your structured data based on known Numerical, Categorical, Ordinal, Temporal, User and Geographical data types.
        %p Automatic spatial-temporal algorithms, such as KDE, Graph-Model, Convolutional Neural Network (CNN) and Page-Rank weighting, Signals performs multiple complex processing elements to identify key elements within any data set.
      .col-md-6
        %p From ad hoc jobs to enterprise data sets, the ability to select and dimension data, including sentiment, geography, category and topics associated with unstructured textual data across these structured dimensions for discrete analysis is fast and easy.

.block-sm
  .container
    .row
      .col-md-6.col-xs-12.col-md-offset-3.m-b-2
        .text-xs-center
          .header-xs.circle 3
          .serif-md.blue.m-b-1 Predictive Analysis
    .row.text-md-left.text-xs-center
      .col-md-6.col-md-offset-3
        %p Using deep-learning algorithms, Signals enables predictive analytics on user behaviors, user modeling, event modeling, trend spotting, and topic summarization.  These foundational predictive elements deliver the insights necessary to tune business practices and drive business value.


.block-sm
  .container
    .row
      .col-md-6.col-xs-12.col-md-offset-3.m-b-2
        .text-xs-center
          .header-xs.circle 4
          .serif-md.blue.m-b-1 Advanced Natural Language Processing
    .row.text-md-left.text-xs-center
      .col-md-6
        %p Natural Language Processing is a fundamental processing core within Signals.  Supporting and performing NLP natively in 24 distinct languages, Signals eliminates core language translation and human tagging, automatically detecting originating language identifiers without user interaction.
      .col-md-6
        %p Signals automatically performs complex parts of speech parsing, tagging, Named entity extraction, lemmatization (cleaning), tokenization, knowledge-graph association, emoji identification, and other language nuances to navigate through the ambiguity and imprecision of written and spoken language.  The end result is the ability to discern relevant content, emotion and even motion within unstructured textual elements.

.block-sm
  .container
    .row
      .col-md-6.col-xs-12.col-md-offset-3.m-b-2
        .text-xs-center
          .header-xs.circle 5
          .serif-md.blue.m-b-1 Multi-Lingual Sentiment Analysis
    .row.text-md-left.text-xs-center
      .col-md-6
        %p Signals uses proprietary technology, including Hidden Markov Model and Deep Learning (RNN),  opinion analysis, and statistical analysis to assess sentiment across all 24 supported languages. Sentiment is calculated on multiple levels, leveraging Part-Of-Speech identification to build dynamic sentiment scores.
      .col-md-6
        %p Signals provides an intuitive Visual Feedback L within the UI to set or tune sentiments specific to product, industry or speciality.

.block-sm
  .container
    .row
      .col-md-6.col-xs-12.col-md-offset-3.m-b-2
        .text-xs-center
          .header-xs.circle 6
          .serif-md.blue.m-b-1 Dynamic Topic Summarization
    .row.text-md-left.text-xs-center
      .col-md-6.col-md-offset-3
        %p Signals identifies clusters of semantically similar textual elements and groups them into unique topic groups for each processed data set. Centered around these opinion-critical, unique categorical n-grams, the engine further identifies specific words, phrases, and language constructs that are associated with positive and negative meanings in the topical categories. In addition to words and phrases, a contextual analysis around the data-driven category is utilized to improve the accuracy of the sentiment and properly reflect its semantic differences within each category.

.block-sm
  .container
    .row
      .col-md-6.col-xs-12.col-md-offset-3.m-b-2
        .text-xs-center
          .header-xs.circle 7
          .serif-md.blue.m-b-1 Global Geographical analysis
    .row.text-md-left.text-xs-center
      .col-md-6
        %p Signals provides street-level geo encoding with a 95%+ global accuracy rate.
      .col-md-6
        %p Signals' robust Geo-Analytics processing engine automatically performs space-time-kernel density estimation to generate a relative Heat Index for different sentiment categories across geo dimensions.

.block-sm
  .container
    .row
      .col-md-6.col-xs-12.col-md-offset-3.m-b-2
        .text-xs-center
          .header-xs.circle 8
          .serif-md.blue.m-b-1 Temporal Analysis
    .row.text-md-left.text-xs-center
      .col-md-6.col-md-offset-3
        Temporal information accompanying structured and unstructured data is
        paramount in understanding quantitative events and their potential
        underlying relationships across disparate data sets. Signals utilizes
        Time-Series Predictive analysis, Deep Learning, and Event-Analysis to
        identify unexpected trends and patterns across structured and unstructured data.

.block-sm
  .container
    %hr
    .row
      .col-md-6.col-md-offset-3.m-t-3
        .text-xs-center
          .serif-md.blue.m-y-1 White paper
          %p Deep Machine learning and the science of analytics can appear complex but download our whitepaper to learn how Stratifyd simplifies the process.
          %a.btn.btn-primary-dark.m-y-3{ href: "white-paper-request.html" } Request White Paper
          //#whitePaper
