---
title: Home
---

.jumbotron.home-header
  .container
    .subhead-header-box
      .subhead-header Simply put
    .header-headline
      We Create Demand<sup>&reg;</sup>

    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
        .header-info
          Technekes is a marketing and sales company that creates demand for
          leading B2B brands.
    .row
      .col-md-8.col-md-offset-2
        .header-body-copy
          We provide turnkey data management, marketing execution and
          technologies that deliver sales.
.container.text-xs-center.content-section
  .subhead-box
    .subhead Who We Are
  .row
    .col-md-8.col-md-offset-2
      .highlighted-content
        When our founders gathered around a kitchen table more than #{tks_longevity} years ago, they combined their marketing, data management and analytic skills with one goal in mind: to create demand for their clients.

  .row
    .col-md-6.col-md-offset-3
      .body-copy
        Fast forward to today… The team has grown, the tools have evolved, but the purpose remains the same, create demand.
  = link_to 'Learn more about us', "/company.html",
    class: 'centered-link btn btn-primary'

.what-we-do
  .container.text-xs-center.content-section
    .subhead-box
      .subhead-saturated What we do
    .row
      .col-md-8.col-md-offset-2
        .highlighted-content
          It's a question we get every day - what does Technekes do?
        .body-copy
          Technekes enables you to efficiently and effectively identify key customer and prospect targets, utilize a multi-channel approach to reach them with relevant and timely communications and offers, qualify and prioritize sales opportunities, and measure the impact of these efforts on your bottom line results.
    .row
      .col-xs-12
        .small-highlighted-content In other words, we:
        %br
    .row
      .col-lg-4.col-lg-offset-0.col-md-6.col-md-offset-0.col-sm-8.col-sm-offset-2.col-xs-12
        .what-we-do-tile.match-height
          .red-subhead Deliver
          .body-copy Strategy and multi-channel marketing campaigns strongly supported by analytics and data science.
      .col-lg-4.col-lg-offset-0.col-md-6.col-md-offset-0.col-sm-8.col-sm-offset-2.col-xs-12
        .what-we-do-tile.match-height
          .red-subhead Boost
          .body-copy Revenues and profits by generating and qualifying leads and capitalizing on incremental sales opportunities.
      .col-lg-4.col-lg-offset-0.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
        .what-we-do-tile.match-height
          .red-subhead Deploy
          .body-copy Marketing and data management technologies, integrations and software to drive the entire demand creation process.
    = link_to 'see our services', "/capabilities.html",
      class: 'centered-link btn btn-primary'
.jumbotron.quote-box
  .row
    .col-md-8.col-md-offset-2
      .big-quote
        &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque molestie metus. Cras porta viverra massa, a interdum elit tempor eget.&rdquo;
      .quote-attribute
        &mdash; Author,
        .quote-source Source Name
.container.text-xs-center.content-section
  .row
    .col-md-12
      .subhead-box-news
        .subhead Most Recent Posts
      #rss-feeds
      = link_to 'All News & Updates', "/news.html",
        class: 'centered-link btn btn-primary'
.instafeed-container
  #instafeed
.container.content-section.text-xs-center
  %a.btn.btn-social.centered-link{ href: "https://www.instagram.com/technekes_llc/", target: "_blank" }
    %i.fa.fa-instagram.insta-link-icon{"aria-hidden" => "true"}
    technekes_llc
