---
title: Home
---

.jumbotron.home-header
  .container
    .subhead-header-box
      .subhead-header Put Simply
    .header-headline
      We Create Demand<sup>&reg;</sup>

    .row
      .col-md-6.col-md-offset-3
        .header-info Technekes is a sales and marketing company that creates demand for our clients.
    .row
      .col-md-8.col-md-offset-2
        .header-body-copy We do this by building innovative software and data management solutions combined with marketing execution - a combination of process, technology, and people.
.container.text-xs-center.content-section
  .subhead-box
    .subhead Who We Are
  .row
    .col-md-8.col-md-offset-2
      .highlighted-content
        When our founders gathered around a kitchen table more than 16 years ago, they wanted to combine their skills of marketing savvy and data analysis to boost marketing efforts and increase sales for Technekes' clients.
  .row
    .col-md-6.col-md-offset-3
      .body-copy Fast forward to today - the team has grown, the tools have changed, and the speed has changed, yet the Technekes team comes to work every day to create demand for our clients.
  %a.centered-link{ href: "about.html" }
    %button.btn.btn-primary{:type => "button"} Learn more about us

.what-we-do
  .container.text-xs-center.content-section
    .subhead-box
      .subhead-saturated What we do
    .row
      .col-md-8.col-md-offset-2
        .highlighted-content
          It's a question we get every day - what does Technekes do?
        .body-copy
          While each situation is different, Technekes combines data services, campaign strategy and execution to create demand.
    .row
      .col-xs-12
        .small-highlighted-content In other words, we:
        %br
    .row
      .col-lg-4.col-lg-offset-0.col-md-6.col-md-offset-0.col-sm-6.col-sm-offset-3.col-xs-12
        .what-we-do-tile
          .red-subhead Deliver
          .body-copy marketing and sales initiatives to drive sales.
      .col-lg-4.col-lg-offset-0.col-md-6.col-md-offset-0.col-sm-6.col-sm-offset-3.col-xs-12
        .what-we-do-tile
          .red-subhead Boost
          .body-copy leads and increase revenues for our clients.
      .col-lg-4.col-lg-offset-0.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-12
        .what-we-do-tile
          .red-subhead Deploy
          .body-copy marketing technology, data science & proven programs to drive ROI.
    %a.centered-link{ href: "services.html" }
      %button.btn.btn-primary{:type => "button"} see our services
.jumbotron.quote-box
  .row
    .col-md-8.col-md-offset-2
      .big-quote
        &ldquo;For marketing programs to yield positive results and deliver return you expect on investment, there needs to be an ongoing commitment to data management.&rdquo;
      .quote-attribute
        &mdash; Dun & Bradstreet,
        .quote-source The B2B Marketing Data Report 2016
.container.text-xs-center.content-section
  .row
    .col-md-12
      .subhead-box
        .subhead Recent Posts
      #rss-feeds
      %a.centered-link{ href: "news.html" }
        %button.btn.btn-primary{:type => "button"} News & Updates

#instafeed
.container.content-section
  .row
    %a.centered-link{ href: "https://www.instagram.com/technekes_llc/", target: "_blank" }
      %button.btn.btn-social{:type => "button"}
        %i.fa.fa-instagram.insta-link-icon{"aria-hidden" => "true"}
        technekes_llc
