---
title: Home
---

.jumbotron.home-header
  .container
    .subhead-header-box
      .subhead-header Simply put
    .header-headline
      We Create Demand<sup>&reg;</sup>

    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
        .header-info
          Technekes is a sales and marketing company that creates demand for
          leading B2B brands.
    .row
      .col-md-8.col-md-offset-2
        .header-body-copy
          We provide turnkey data management, marketing execution and
          technologies that deliver sales.
.container.text-xs-center.content-section
  .subhead-box
    .subhead Who We Are
  .row
    .col-md-8.col-md-offset-2
      .highlighted-content
        When our founders gathered around a kitchen table more than
        #{tks_longevity} years ago, they combined their skills of marketing
        savvy, data management and analytics with one goal in mind: to create
        demand for their clients.
  .row
    .col-md-6.col-md-offset-3
      .body-copy
        Fast forward to today — the team has grown, the tools have evolved —
        but the purpose of our work remains the same: create demand.
  = link_to 'Learn more about us', "/company.html",
    class: 'centered-link btn btn-primary'

.what-we-do
  .container.text-xs-center.content-section
    .subhead-box
      .subhead-saturated What we do
    .row
      .col-md-8.col-md-offset-2
        .highlighted-content
          It's a question we get every day - what does Technekes do?
        .body-copy
          While each situation is different, Technekes combines data services,
          campaign strategy and execution to create demand.
    .row
      .col-xs-12
        .small-highlighted-content In other words, we:
        %br
    .row
      .col-lg-4.col-lg-offset-0.col-md-6.col-md-offset-0.col-sm-8.col-sm-offset-2.col-xs-12
        .what-we-do-tile
          .red-subhead Deliver
          .body-copy marketing and sales initiatives to drive sales.
      .col-lg-4.col-lg-offset-0.col-md-6.col-md-offset-0.col-sm-8.col-sm-offset-2.col-xs-12
        .what-we-do-tile
          .red-subhead Boost
          .body-copy leads and increase revenues for our clients.
      .col-lg-4.col-lg-offset-0.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
        .what-we-do-tile
          .red-subhead Deploy
          .body-copy marketing technology, data science & proven programs to drive ROI.
    = link_to 'see our services', "/capabilities.html",
      class: 'centered-link btn btn-primary'
.jumbotron.quote-box
  .row
    .col-md-8.col-md-offset-2
      .big-quote
        &ldquo;For marketing programs to yield positive results and deliver return you expect on investment, there needs to be an ongoing commitment to data management.&rdquo;
      .quote-attribute
        &mdash; Dun & Bradstreet,
        .quote-source The B2B Marketing Data Report 2016
.container.text-xs-center.content-section
  .row
    .col-md-12
      .subhead-box
        .subhead Recent Posts
      #rss-feeds
      = link_to 'News & Updates', "/news.html",
        class: 'centered-link btn btn-primary'
.instafeed-container
  #instafeed
.container.content-section.text-xs-center
  %a.btn.btn-social.centered-link{ href: "https://www.instagram.com/technekes_llc/", target: "_blank" }
    %i.fa.fa-instagram.insta-link-icon{"aria-hidden" => "true"}
    technekes_llc
