---
title: Home
---
.jumbotron-fluid#homeJumbo
  .container
    %h1.header.light.m-b-1 The Fastest Path From Data to Revenue
    .row
      .col-md-8
        %p.light
          Stratifyd was founded in 2012 with two key objectives: create a data
          analytics platform anyone can use; and make it powerful enough
          everyonewill want to use.  Our founder, Derek Wang, Ph.D., brought
          academic eyes to an existing problem and assembled a team to provide
          a powerful yet simplemethod of navigating and identifying actionable
          data. His unique approach,abandoning old data models and processes
          and focusing on deep machine learning, results in a product which
          quickly drives real revenue for our enterprise clients.
    %a.btn.btn-primary.m-t-2.button-primary-dark-bg{ href: "/about-us.html", role: "button" } About Us

.block
  .container
    .text-xs-center
      .header-sm The Next Generation of Data Analytics
      .row
        .col-md-8.col-md-offset-2
          %img{ alt: "Card image cap", src: "assets/images/icons/ex.png", class: "circle-icon m-t-2" }
          .serif-md.blue.m-y-1 The Challenge With Traditional Data Analytics
          %p
            Data proliferation coupled with the pace of business innovation
            is accelerating and the ability to perform targeted analysis before
            windows of opportunity close is paramount.  The fundamental challenge
            of traditional analytics is that it requires you to know what you’re
            looking for from the start.  As products, feedback and interaction
            methods evolve - you must constantly maintain those changes in
            traditional taxonomies and ontological maps.  It takes time, money
            and specialized skills to stay current, unfortunately most analytical
            campaigns run beyond the window of opportunity.

      .row
        .col-md-8.col-md-offset-2
          %img{ alt: "Card image cap", src: "assets/images/icons/check.png", class: "circle-icon m-t-2" }
          .serif-md.blue.m-y-1 Our Approach
          %p
            Based on the years of academic research and innovation in the
            field of data science, our platform uses next generation technology
            to “learn” the contents of any data set without the need for
            predetermined structures or methods of interpretation.  The unbiased,
            immediate and highly intuitive results allow users to transition from
            raw data to decision BEFORE it’s too late.
      %a.btn.btn-primary-dark.m-t-2{ href: "/solutions.html", role: "button" } Learn About Our Solutions

.block-blue-pad
  .container
    .row
      .col-md-6
        .text-xs-center
          %img{ src: "assets/images/home-signals2.png", class: "wide" }
      .col-md-5.text-xs-center.text-md-left
        .header-sm.light.m-y-1 Signals
        %p.light
          Signals is an enterprise Business Analytics platform enabling a
          seamless transition from analysis to action through augmented
          intelligence. Our customers deliver faster insights across a wide
          spectrum of disparate data that drives direct revenue.
        %a.btn.btn-primary.m-t-1{ href: "/product.html", role: "button" } Learn More

.block
  .container
    .text-xs-center.m-b-2
      .header-sm Blog
      %p.copy-lg.m-y-2 Read about insights driven by Signals.
    .container-fluid
      #medium-home-posts

    .text-xs-center
      %a.btn.btn-primary-dark.m-t-2{ href: "/blog.html", role: "button" } Read More Blog Posts
