---
title: Welcome to Middleman
---

.jumbotron.home-header
  .subhead-header-box
    .subhead-header Put Simply
  .header-headline We Create Demand
  .row
    .col-md-6.col-md-offset-3
      .header-info Technekes is a sales and marketing company that creates demand for our clients.
  .row
    .col-md-8.col-md-offset-2
      .header-body-copy We do this by building innovative software and data management solutions combined with marketing execution - a combination of process, technology, and people.
.container
  .subhead Who We Are
  .highlighted-content When our founders gathered around a kitchen table more than 16 years ago, they wanted to combine their skills of marketing savvy and data analysis to boost marketing efforts and increase sales for Technekes' clients.

  Fast forward to today - the team has grown, the tools have changed, and the speed has changed, yet the Technekes team comes to work every day to create demand for our clients.

  .row
