---
title: Welcome to Middleman
---

.welcome
  .container
    %h1 Middleman is Running
    %p.doc
      = link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank", class: "btn btn-primary"
