.jumbotron
  .container
    .subhead-header Join Us
    .header-headline Careers
    .row
      .col-md-6.header-body-copy
        %p We are always insterested in learning how we might grow our team.
.container.content-section
  .row
    .col-md-4
      .highlighted-content-box
        .subhead Open positions
      %br
      .body-copy While the available positions change, Technekes wants innovative, fun team members on its team. Check out our listings and apply if you want to work in a great environment.
      %br
      .body-copy Don't see the position you're looking for?
      .body-copy
        Feel free to email us at
        %a.link{:href => "/"}jobs@technekes.com
        and let us know why you'd be a good fit.
      %br
      .body-copy
        Also visit our sister company,
        %a.link{:href => "/"}Xceleration
        , to check out other available positions.


.grey
  .container.content-section
    .row
      .col-md-4
        .highlighted-content-box
          .subhead-saturated equal opportunity employer
      .col-md-8
        .body-copy Technekes values a diverse combination of ideas, perspectives, and cultures. As such, Technekes offers equal opportunity opportunities without regard to race, color, gender, religion, age, nationality, social or ethnic origin, sexual orientation, gender identity or expression, marital status, pregnancy, disability, veteran status or any other characteristic protected by law.
#instafeed
.container.content-section
  .row
    %button.btn.btn-social{:type => "button"}
      %i.fa.fa-instagram.social-icons{"aria-hidden" => "true"}
      technekes_llc
