---
title: News
page_classes: news-page
---

.jumbotron.news-header
  .container
    .header-headline News & Resources
    .subhead-hero-blue Updates & Events
    .row
      .col-lg-6.header-body-copy
        Technekes is active in our clients’ industries, in the general business sector and the communities where we live and work. Here we share some of our news, ideas and involvement.

.container
  .row
    .col-md-8.text-xs-center
      .subhead-box-news
        .subhead Most Recent Posts
      #rss-feeds
      %a.btn.btn-primary{ href: "https://medium.com/technekes", target: "_blank", :type => "button" } All News at Medium
    .col-md-4.hidden-sm-down
      .resources
        <a class="twitter-timeline" data-height="1300" data-link-color="#1db3d0" href="https://twitter.com/Technekes">Tweets by Technekes</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
