
.jumbotron
  .container
    .subhead-header News & Resources
    .header-headline Updates & Events
    .row
      .col-lg-6.header-body-copy
        %p Technekes has experienced a strong history of recurring, annual growth. One of the reasons for this is our partners who collaborate with us so that both sides of the equation are successful. We select partners who act like us - who roll up their sleeves to tackle an issue, to make sure a client initiative is successful.
      .col-lg-6.header-body-copy
        %p Here are some of the partners we work with. Please learn more about them and please reach out if we can provide additional information and/or make introductions.
.container
  .row
    .col-md-8.text-xs-center
      .subhead-box
        .subhead Recent Posts
      #rss-feeds
      %button.btn.btn-primary{:type => "button"} see all news
    .col-md-4
      .resources
        <a class="twitter-timeline" data-height="800" data-link-color="#1db3d0" href="https://twitter.com/Technekes">Tweets by Technekes</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
