
.jumbotron
  .container
    .subhead-header News & Resources
    .header-headline Updates & Events
    .row
      .col-lg-12.header-body-copy
        %p Technekes has experienced a strong history of recurring, annual growth. One of the reasons for this is our partners who collaborate with us so that both sides of the equation are successful. We select partners who act like us - who roll up their sleeves to tackle an issue, to make sure a client initiative is successful.
.container
  .row
    .col-md-8.text-xs-center
      .subhead-box
        .subhead Recent Posts
      #rss-feeds
      %button.btn.btn-primary{:type => "button"} All News at Medium
    .col-md-4.hidden-sm-down
      .resources
        <a class="twitter-timeline" data-height="800" data-link-color="#1db3d0" href="https://twitter.com/Technekes">Tweets by Technekes</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
