---
title: Product
---
.jumbotron-fluid#signalsJumbo
  .container
    .row
      .col-md-2.col-md-offset-8
        .text-xs-center
          .header.light.blue-line.m-b-1 Signals
          .serif-sm.light A powerful augmented intelligence engine for your business.
.block
  .container
    .row
      .col-md-6.col-md-offset-3
        .text-xs-center
          .header-sm.m-b-2 Simple. Powerful. Fast.
          .row
            Signals is a comprehensive analytics platform transforming latent data into unified business insight across Social, 3rd Party and Enterprise systems, at the speed of business.

.block
  .container
    .row
      .col-md-6.m-b-3
        .row
          .col-md-3.col-xs-12.text-md-right.text-xs-center
            %img{ src: "assets/images/icons/start-w-data.png", class:"icon m-b-1" }
          .col-md-9.text-md-left.text-xs-center
            .serif-sm.blue.m-b-1 We Start with Data
            In addition to our growing list of pre-built (built-in?) data connectors for everything from the App Store (Hadoop??)  to Twitter, Signals also processes ad hoc and streaming data from internal data sources and 3rd party systems like SalesForce.  No matter what the source, getting data into Signals is secure, fast and easy


      .col-md-6.m-b-3
        .row
          .col-md-3.col-xs-12.text-md-right.text-xs-center
            %img{ src: "assets/images/icons/machine-learning.png", class:"icon m-b-1" }
          .col-md-9.text-md-left.text-xs-center
            .serif-sm.blue.m-b-1 We Use Machine Learning
            Signals “learns” the data using patented analytical processing techniques and performs enhanced analysis for Sentiment, geography, temporality and a host of other structured data dimensions that help unify analysis across multiple data collections.


    .row
      .col-md-6.m-b-3
        .row
          .col-md-3.col-xs-12.text-md-right.text-xs-center
            %img{ src: "assets/images/icons/story.png", class:"icon m-b-1" }
          .col-md-9.text-md-left.text-xs-center
            .serif-sm.blue.m-b-1 We Tell the Data Story
            Intuitive visual elements make finding stories and insights hidden within terabytes of data quick and easy.  Navigating from large quantities of comments down to just a few, identifying root cause, or illuminating specific points of interest is simple and fast.


      .col-md-6.m-b-3
        .row
          .col-md-3.col-xs-12.text-md-right.text-xs-center
            %img{ src: "assets/images/icons/collab.png", class:"icon m-b-1" }
          .col-md-9.text-md-left.text-xs-center
            .serif-sm.blue.m-b-1 We Enable Collaboration
            Sharing insights across the organization drives action.  Signals allows people to Snapshot, export and share visualizations with everyone, even if they aren’t a Signals user, ensuring that important fact-based information doesn’t stay hidden.


.jumbotron-fluid.block#head2headJumbo
  .container
    .text-xs-center
      .row.m-b-3
        .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1
          .header-sm.light.m-b-2 Head-to-Head
          .light
            Unify and Analyze diverse data sets, including unstructured textual data quickly without a data scientists, taxonomy developers and a team of data analysts.
      .row
        .col-md-6.m-b-3.team
          .row
            .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
              .serif-md.light.m-b-1 One Person Using Signals
              .light.m-b-3
                Analyzed all 38,000 cases and spent 35 minutes identifying 4 major drivers.  Additionally identified strongest sentiment themes and other associated data.
          .header-xl.light 35
          .box.hidden-md-up
            .serif-md.light minutes
        .col-md-6.m-b-3.team
          .row
            .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
              .serif-md.light.m-b-1 Team of Data Scientists
              .light.m-b-3
                A data scientist was asked to analyze 38,000 VOC reviews to identify critical themes within the data. It took 3 days to analyze 3,800 (a sub-set) reviews and generate a list of the 2 major drivers.
          .header-xl.light 1,440
          .box.hidden-md-up
            .serif-md.light minutes

      .row.box.hidden-sm-down
        .col-md-5
          .serif-md.light minutes
        .col-md-2.fill

        .col-md-5
          .serif-md.light minutes



.block
  .container
    .row
      .col-md-6.col-md-offset-3
        .text-xs-center
          .header-sm.m-b-3 Product Specs
          .serif-md.blue.m-b-2 How It Works
          %p
            Signals is designed to augment human intelligence. Our deep-learning analytics engine unifies structured and textual data to deliver comprehensive, topical insights from raw data. Leaders across the organization can make more informed data driven decisions leveraging these analytical foundations.

          %button.btn.btn-primary-dark.m-t-3{ href: "#" } Dig Deeper

.jumbotron-fluid.block#specsJumbo
  .container
    .row.m-b-3
      .col-md-4.col-md-offset-1.spec.text-xs-center.text-md-left
        %img{ src: "assets/images/icons/easy.png", class:"icon m-b-1" }
        .serif-sm.light.m-b-1 Easy to Use
        .light
          In addition to our growing list of pre-built (built-in?) data connectors for everything from the App Store (Hadoop??)  to Twitter, Signals also processes ad hoc and streaming data from internal data sources and 3rd party systems like SalesForce.  No matter what the source, getting data into Signals is secure, fast and easy

      .col-md-4.col-md-offset-2.spec.text-xs-center.text-md-left
        %img{ src: "assets/images/icons/high-powered.png", class:"icon m-b-1" }
        .serif-sm.light.m-b-1 High Powered Analytics
        .light
          Signals “learns” the data using patented analytical processing techniques and performs enhanced analysis for Sentiment, geography, temporality and a host of other structured data dimensions that help unify analysis across multiple data collections.

      .col-md-4.col-md-offset-1.spec.text-xs-center.text-md-left
        %img{ src: "assets/images/icons/intuitive.png", class:"icon m-b-1" }
        .serif-sm.light.m-b-1 Intuitive Visual Interface
        .light
          Intuitive visual elements make finding stories and insights hidden within terabytes of data quick and easy.  Navigating from large quantities of comments down to just a few, identifying root cause, or illuminating specific points of interest is simple and fast.

      .col-md-4.col-md-offset-2.spec.text-xs-center.text-md-left
        %img{ src: "assets/images/icons/comprehensive.png", class:"icon m-b-1" }
        .serif-sm.light.m-b-1 Comprehensive Data Analytics Solution
        .light
          Sharing insights across the organization drives action.  Signals allows people to Snapshot, export and share visualizations with everyone, even if they aren’t a Signals user, ensuring that important fact-based information doesn’t stay hidden.

.section
  .container-fluid#dataConnector
    .header-sm.m-b-2.m-t-2.text-xs-center Data Connectors
    .container
      .row
        .col-sm-6.col-sm-offset-3
          %p.text-xs-center
            Stratifyd provides our enterprise clients multiple methods to quickly access critical business information. Our growing data connectors range from excel and CSV files, to social marketplaces, to leading business applications and databases - all providing a faster and more comprehensive process to deliver results.
    #particles-js

.block-dark
  .container
    .row
      .col-md-5.col-md-offset-1
        .header-sm.m-b-1 Take the Signals Challenge
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %button.btn.btn-primary-dark.m-y-2 Get Started
      .col-md-6
        .row
          .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1
            .text-xs-center
              %img{ alt: "Card image cap", src: "assets/images/product-signals-challenge.png", class: "wide" }/

.block
  .text-xs-center
    .header-sm.m-b-2 Case Studies
  .container
    .row
      - data.case_studies.each_with_index do |study, index|
        .col-md-4
          %a.case_study_card{ href: "#{study.slug}.html" }
            .card
              %img.card_img_box{ style: "background-image: url(assets/images/case_studies/#{study.jumbo})" }/
              .card-block
                .card-subhead
                  = study.focus
                %h4.card-title
                  = study.header
                .body-copy.card-text Some quick example text to build on the card title and make up the bulk of the card's content.



  .text-xs-center
    %button.btn.btn-primary-dark.m-t-2 Read More Case Studies



.block-blue
  .container
    .row
      .col-md-6.col-md-offset-3.contactform
        .card-block
          .header-sm.m-b-2.text-xs-center Contact Us For Pricing Info
          %form
            .form-group
              %label Name
              %input.form-control{ placeholder: "First Last" }/
            .form-group
              %label Email address
              %input.form-control{"aria-describedby" => "emailHelp", placeholder: "Enter email", type: "email" }/
            .form-group
              %label Phone Number
              %input.form-control{ placeholder: "Phone Number", type: "email" }/
            .form-group
              %label{:for => "exampleTextarea" } Example textarea
              %textarea.form-control{ rows: "3" }

            %button.btn.btn-primary-dark.wide{type: "submit" } Send Message
