---
js_include: 'services.bundle'
---

.jumbotron
  .container
    .subhead-header Services
    .header-headline Capabilities
    .row
      .col-lg-6.header-body-copy
        %p From managing countless, disparate data sources to navigating the needs of cyclical businesses, Technekes works in close collaboration with our client's sales and marketing teams to deliver campaigns to reach out to clients, suspects and prospects; set appointments; qualify opportunities, query sales leads; manage territories; fulfill product needs and boost channel support.
      .col-lg-6.header-body-copy
        %p Our work can be as simple as fine-tuning a database or as complex as a multi-channel program involving direct mail, call action and custom tools and applications to monitor results in real-time.
.container
  .row
    .col-md-7
      .subhead How we help
      .highlighted-content-box
        .highlighted-content What Problem do you need solved?
      .body-copy We compiled the most common problems our clients approach us to solve, and broke down our services into each category. Feel free to filter through the problems and discover the different ways Technekes can help you solve them.
.container.content-section
  #gridContainer

=partial 'capabilities'

.grey
  .container.content-section
    .row
      .col-md-7
        .subhead Who we work with
        .highlighted-content-box
          .highlighted-content Key Industry Verticals
    .row
      .col-lg-6.col-lg-offset-0.col-sm-12.col-md-8.col-md-offset-2
        .industry-box#agriculture
          .industry-header
            .industry-title Agriculture & Life Sciences
            .industry-copy Technekes' first clients were in the Agriculture & Life Sciences business. To this day, we work with leading companies who sell in the industry and work closely in the seasonal business that is agriculture. Many of our early clients are still working with Technekes today.
          .bullets
            .highlighted-content-box
              .subhead-white extra arms, legs & brains to grow demand
            %ul.industry-list
              %li Data Management
              %li Demand Center Operations
              %li Teleservices
              %li Analytics/Data Science
      .col-lg-6.col-lg-offset-0.col-sm-12.col-md-8.col-md-offset-2
        .industry-box#b2b
          .industry-header
            .industry-title B2B
            .industry-copy Our experience has translated well to clients whose point-of- view is business-to- business. In these examples, ranging from retail to financial services to other verticals, we provide strategic recommendations and execution support to drive sales. Whether outsourced marketing automation support, data integration and contracted inside sales, Technekes boosts their ROI.
          .bullets
            .highlighted-content-box
              .subhead-white subhead example
            %ul.industry-list
              %li Data Management
              %li Demand Center Operations
              %li Teleservices
              %li Analytics/Data Science
    .row
      .col-lg-6.col-lg-offset-0.col-sm-12.col-md-8.col-md-offset-2
        .industry-box#pharma
          .industry-header
            .industry-title Pharmaceuticals & Medical Devices
            .industry-copy Technekes launched into Healthcare 10 years ago. Our team plays a crucial role for our Healthcare and Pharmaceutical clients as the industry continues to evolve. We effectively promote products to physicians and extenders, support field territories, generate leads, place samples and more, while ensuring compliance within a strict regulatory environment.
          .bullets
            .highlighted-content-box
              .subhead-white one practice at a time
            %ul.industry-list
              %li Data Management/ RepOnCall/ Analytics &amp; Data Science
              %li Success Stat -
              %li Case Study (link to blind case study/coming soon?)
              %li Other?
      .col-lg-6.col-lg-offset-0.col-sm-12.col-md-8.col-md-offset-2
        .industry-box#manu
          .industry-header
            .industry-title Manufacturing, Distribution & Construction
            .industry-copy Our work in industrials, which typically have multiple distribution points (direct and indirect), geographically dispersed sales team to get their product into the field, has combined aligning a technology solutions with outbound marketing and sales support efforts to generate opportunities for reps in the field.
          .bullets
            .highlighted-content-box
              .subhead-white subhead example
            %ul.industry-list
              %li Data Management/ Demand Center Operations/ RepOnCall/ Analytics &amp; Data Science
              %li For one Client, we consolidated 35+ Data sources, distributed $70 million in incentive dollars and generated a 12x ROI
              %li Case study (link to blind case study/ coming soon)

.container.content-section
  .row
    .col-md-7
      .subhead Our products
      .highlighted-content-box
        .highlighted-content Platform Solutions
  .row

    .col-md-4
      .resource-name
        RepOnCall &trade;
      .body-copy-small
        Technekes bolsters your sales efforts and opens the "virtual" door for your field sales, account management, and CRM teams. Let our team of professional, industry-specific reps extend your territory reach and deliver measurable results.
    .col-md-4
      .resource-name
        PaaSport &trade;
      .body-copy-small
        Managing data in disparate systems isn't easy. That's why we built PaaSport &trade;, our proprietary, fully customizable platform-as-a-service solution that consolidates your sales and marketing data into one central -- and powerful -- database marketing source.
    .col-md-4
      .resource-name
        RewardStation &trade;
      .body-copy-small
        Administer your customer loyalty and employee incentive programs through our easy-to-use, turnkey software solution. We'll help you boost lead conversion, improve customer retention, and capture market data through your own fully branded program hub.
