.container
  %h3.display-3.text-xs-center.p-y-3 Services
  .jumbotron.jumbotron-fluid
    .container
      %h3.display-4 We're in the hero-maker business.
      %p.lead Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo

.container
  .row
    .col-md-4
      %img.placeholder{ src: "images/placeholderbox.png" }
    .col-md-4
      %img.placeholder{ src: "images/placeholderbox.png" }
    .col-md-4
      %img.placeholder{ src: "images/placeholderbox.png" }
  %br
  .row
    .col-md-4
      %img.placeholder{ src: "images/placeholderbox.png" }
    .col-md-4
      %img.placeholder{ src: "images/placeholderbox.png" }
    .col-md-4
      %img.placeholder{ src: "images/placeholderbox.png" }
  %br
  .row
    .col-md-4
      %img.placeholder{ src: "images/placeholderbox.png" }
    .col-md-4
      %img.placeholder{ src: "images/placeholderbox.png" }
    .col-md-4
      %img.placeholder{ src: "images/placeholderbox.png" }

.container
  %h3.display-4.text-xs-center.p-y-3 Key Industry Verticals
  .row
    .col-md-6
      %h5 Agriculture
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %h6 Loyalty, Incentive and Process Outsourcing
      %ul
        %li Competitve Response Programs
        %li Grower/End User Payment Programs
        %li Channel Payment Programs
        %li Complaint Handling
      %button.btn.btn-secondary{:type => "button"} Case Studies

    .col-md-6
      %h5 Pharma/Med Device
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %h6 Loyalty, Incentive and Process Outsourcing
      %ul
        %li Competitve Response Programs
        %li Grower/End User Payment Programs
      %h6 Platform Solutions
      %ul
        %li RxMatters P&P Platform
      %button.btn.btn-secondary{:type => "button"} Case Studies

  .row
    .col-md-6
      %h5 Industrial/Construction
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %h6 Subhead
      %ul
        %li Bullet
        %li Bullet
        %li Bullet
      %button.btn.btn-secondary{:type => "button"} Case Studies

    .col-md-6
      %h5 B2B
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %h6 Subhead
      %ul
        %li Bullet
        %li Bullet
        %li Bullet
      %button.btn.btn-secondary{:type => "button"} Case Studies

.container
  %h3.display-4.text-xs-center.p-y-3 Platform Solutions
  .container
  .row
    .col-md-6
      %h4 RepOnCall
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.

    .col-md-6
      %h5 Features
      %ul
        %li Feature 1
        %li Feature 2
        %li Feature 3
        %li Feature 4
        %li Feature 5

  .row
    .col-md-6
      %h4 PasSPort
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.

    .col-md-6
      %h5 Features
      %ul
        %li Feature 1
        %li Feature 2
        %li Feature 3
        %li Feature 4
        %li Feature 5

  .row
    .col-md-6
      %h4 RewardStation
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.

    .col-md-6
      %h5 Features
      %ul
        %li Feature 1
        %li Feature 2
        %li Feature 3
        %li Feature 4
        %li Feature 5



