.jumbotron.visit-us-header
  .container
    .subhead-header contact
    .header-headline Visit Us
    .row
      .col-lg-6.header-body-copy
        %p Please contact us if we can share more about our company what opportunities there might be to partner or work together.
      .col-lg-6.header-body-copy
        %p
          If you are interested in a career opportunity with Technekes, please click
          %a{:href => "/joinus.html"}here
          to visit our Careers page.

.container.content-section
  .row
    .col-md-5
      .subhead office locations
      %br
      .highlighted-content-box
        .highlighted-content Technekes Headquarters
      .body-copy 1431 W. Moorehead St.
      .body-copy Charlotte, NC 28208
      %a.uppercase-link{:href => "/"}Open in maps
      .body-copy-bold P:704.342.2900
      %br
      %br
      .highlighted-content-box
        .highlighted-content Technekes Canada
      .body-copy Ontario AgriCentre
      .body-copy 100 Stone Road West, Suite #304
      .body-copy Guelph, ON N1G 5L3
      %a.uppercase-link{:href => "/"}Open in maps
      .body-copy-bold P:519.588.6131
    .col-lg-6.col-md-12.col-lg-offset-1
      = image_tag "mapwpins.jpg", class: "img-fluid map center-block"
